.main-sidebar

	.sidebar.mobile-hide--md

		.sideb

			h2.title Доставка
			
			// transport-company
			.transport-company
				a(href="#").transport-company_link
					img(src="img/dpd.svg", alt="dpd").transport-company_img
				a(href="#").transport-company_link
					img(src="img/boxberry.svg", alt="boxberry").transport-company_img
				a(href="#").transport-company_link
					img(src="img/iml.svg", alt="iml").transport-company_img
				a(href="#").transport-company_link
					img(src="img/pek.svg", alt="pek").transport-company_img
				a(href="#").transport-company_link
					img(src="img/cdek.svg", alt="cdek").transport-company_img
			// /transport-company

			h2.title Оплата

			// pay
			.pay
				ul.pay_list
					li.pay_item
						img(src="img/bank-card.svg", alt="bank-card").pay_img
						span.pay_text Банковской картой на сайте
					li.pay_item
						img(src="img/cash.svg", alt="cash").pay_img
						span.pay_text Наличными при получении
				ul.pay_cards
					li.pay_card
						img(src="img/visa.svg", alt="visa-logo").pay_card-img
					li.pay_card
						img(src="img/mastercard.svg", alt="mastercard-logo").pay_card-img
					li.pay_card
						img(src="img/maestro.svg", alt="maestro-logo").pay_card-img
					li.pay_sberbank
						img(src="img/sberbank.svg", alt="sbarbank-logo").pay_sberbank-logo
					.pay_sberbank-text Обработку платежей осуществляет ПАО Сбербанк
			// /pay

	.main.main--maw-780

		h2.title Как заказать
		
		// tutorial
		ul.tutorial
			li.tutorial_item
				img(src="img/purse.svg", alt="purse").tutorial_img
				p.tutorial_text Сделайте заказ на сайте или любым удобным способом
			li.tutorial_item
				img(src="img/truck.svg", alt="truck").tutorial_img
				p.tutorial_text Мы подготовим и отправим заказ на следующий день
			li.tutorial_item
				img(src="img/smartphone.svg", alt="smartphone").tutorial_img
				p.tutorial_text Дождитесь СМС о доставке и получите заказ
		// /tutorial

		h2.title Установка чехлов
		
		// install
		.install

			.text
				p Установить чехлы можно как в любом нашем 
					a(href="#") сервисном центре
					|  в Москве, так и с выездом к вам.

			.row
				.install_col
					a(href="#").install_item.js-match-height
						img(src="img/house.svg", alt="house").install_img.install_img--house
						.install_content
							.install_text Установка в сервисном центре
							.install_price 1000 Руб
				.install_col
					a(href="#").install_item.js-match-height.install_item--2
						img(src="img/seat.svg", alt="seat").install_img.install_img--seat
						.install_content
							.install_text Установка с подшивкой к сиденьям
							.install_price 4500 Руб
				.install_col
					a(href="#").install_item.js-match-height
						img(src="img/car.svg", alt="car").install_img.install_img--car
						.install_content
							.install_text Установка с выездом
							.install_price 1500 Руб
				.install_col
					a(href="#").install_item.js-match-height
						img(src="img/car-end-seat.svg", alt="car-end-seat").install_img.install_img--car-end-seat
						.install_content
							.install_text Установка с подшивкой к сиденьям с выездом
							.install_price 5500 Руб
		// /install

	.sidebar.mobile-visible--md

		.sideb

			h2.title Доставка
			
			// transport-company
			.transport-company
				a(href="#").transport-company_link
					img(src="img/dpd.svg", alt="dpd").transport-company_img
				a(href="#").transport-company_link
					img(src="img/boxberry.svg", alt="boxberry").transport-company_img
				a(href="#").transport-company_link
					img(src="img/iml.svg", alt="iml").transport-company_img
				a(href="#").transport-company_link
					img(src="img/pek.svg", alt="pek").transport-company_img
				a(href="#").transport-company_link
					img(src="img/cdek.svg", alt="cdek").transport-company_img
			// /transport-company

			h2.title Оплата

			// pay
			.pay
				ul.pay_list
					li.pay_item
						img(src="img/bank-card.svg", alt="bank-card").pay_img
						span.pay_text Банковской картой на сайте
					li.pay_item
						img(src="img/cash.svg", alt="cash").pay_img
						span.pay_text Наличными при получении
				ul.pay_cards
					li.pay_card
						img(src="img/visa.svg", alt="visa").pay_card-img
					li.pay_card
						img(src="img/mastercard.svg", alt="mastercard").pay_card-img
					li.pay_card
						img(src="img/maestro.svg", alt="maestro").pay_card-img
					li.pay_sberbank
						img(src="img/sberbank.svg", alt="sbarbank").pay_sberbank-logo
					.pay_sberbank-text Обработку платежей осуществляет ПАО Сбербанк
			// /pay