// filter
.filter

	.title.mobile-visible Выберите автомобиль

	form(action="#").filter_selects

		.filter_select.js-dropdown-wrapper
			.filter_trigger.js-drop-trigger 
				span Марка
				.filter_arrow.icon-keyboard_arrow_down
			.dropdown.dropdown--maw.js-dropdown
				.js-scrollbar.scrollbar-inner.scroll-filter.scroll-filter--h360
					ul.dropdown_list
						li.dropdown_item.dropdown_item
							a(href="#").dropdown_link.js-drop_link.dropdown_link--reset Любая
								span.dropdown_reset
						li.dropdown_item
							a(href="#").dropdown_link.js-drop_link Audi
						li.dropdown_item
							a(href="#").dropdown_link.js-drop_link BMW
						li.dropdown_item
							a(href="#").dropdown_link.js-drop_link Chevrolet
						li.dropdown_item
							a(href="#").dropdown_link.js-drop_link Citroen
						li.dropdown_item
							a(href="#").dropdown_link.js-drop_link Daewoo
						li.dropdown_item
							a(href="#").dropdown_link.js-drop_link Ford
						li.dropdown_item
							a(href="#").dropdown_link.js-drop_link Audi
						li.dropdown_item
							a(href="#").dropdown_link.js-drop_link BMW
						li.dropdown_item
							a(href="#").dropdown_link.js-drop_link Chevrolet

		.filter_select.js-dropdown-wrapper
			.filter_trigger.js-drop-trigger
				span Серия
				.filter_arrow.icon-keyboard_arrow_down
			.dropdown.dropdown--maw.js-dropdown
				.js-scrollbar.scrollbar-inner.scroll-filter.scroll-filter--h360
					ul.dropdown_list
						li.dropdown_item.dropdown_item
							a(href="#").dropdown_link.js-drop_link.dropdown_link--reset Любая
								span.dropdown_reset
						li.dropdown_item
							a(href="#").dropdown_link.js-drop_link 3 серия 
						li.dropdown_item
							a(href="#").dropdown_link.js-drop_link 4 серия
						li.dropdown_item
							a(href="#").dropdown_link.js-drop_link 5 серия
						li.dropdown_item
							a(href="#").dropdown_link.js-drop_link 6 серия
						li.dropdown_item
							a(href="#").dropdown_link.js-drop_link 7 серия
						li.dropdown_item
							a(href="#").dropdown_link.js-drop_link Х1
						li.dropdown_item
							a(href="#").dropdown_link.js-drop_link Х2
						li.dropdown_item
							a(href="#").dropdown_link.js-drop_link Х

		.filter_select.js-dropdown-wrapper
			.filter_trigger.js-drop-trigger
				span Поколение
				.filter_arrow.icon-keyboard_arrow_down
			.dropdown.js-dropdown
				.js-scrollbar.scrollbar-inner.scroll-filter.scroll-filter--generation
					ul.dropdown_list
						.dropdown_row
							.dropdown_col
								a(href="#").filter_generation-link.js-drop_link
									.filter_generation-img.img-responsive
										img(src="img/car-generation/audi1.jpg", alt="audi")
									span.filter_generation-text Audi VI (G11/G12) 7 серия 730i M Sport SE
							.dropdown_col
								a(href="#").filter_generation-link.js-drop_link
									.filter_generation-img.img-responsive
										img(src="img/car-generation/audi2.jpg", alt="audi")
									span.filter_generation-text Audi VI (G11/G12) 7 серия 730i M Sport SE
							.dropdown_col
								a(href="#").filter_generation-link.js-drop_link
									.filter_generation-img.img-responsive
										img(src="img/car-generation/audi3.jpg", alt="audi")
									span.filter_generation-text Audi VI (G11/G12) 7 серия 730i M Sport SE
							.dropdown_col
								a(href="#").filter_generation-link.js-drop_link
									.filter_generation-img.img-responsive
										img(src="img/car-generation/audi1.jpg", alt="audi")
									span.filter_generation-text Audi VI (G11/G12) 7 серия 730i M Sport SE
							.dropdown_col
								a(href="#").filter_generation-link.js-drop_link
									.filter_generation-img.img-responsive
										img(src="img/car-generation/audi2.jpg", alt="audi")
									span.filter_generation-text Audi VI (G11/G12) 7 серия 730i M Sport SE
							.dropdown_col
								a(href="#").filter_generation-link.js-drop_link
									.filter_generation-img.img-responsive
										img(src="img/car-generation/audi3.jpg", alt="audi")
									span.filter_generation-text Audi VI (G11/G12) 7 серия 730i M Sport SE
							.dropdown_col
								a(href="#").filter_generation-link.js-drop_link
									.filter_generation-img.img-responsive
										img(src="img/car-generation/audi1.jpg", alt="audi")
									span.filter_generation-text Audi VI (G11/G12) 7 серия 730i M Sport SE
							.dropdown_col
								a(href="#").filter_generation-link.js-drop_link
									.filter_generation-img.img-responsive
										img(src="img/car-generation/audi2.jpg", alt="audi")
									span.filter_generation-text Audi VI (G11/G12) 7 серия 730i M Sport SE
							.dropdown_col
								a(href="#").filter_generation-link.js-drop_link
									.filter_generation-img.img-responsive
										img(src="img/car-generation/audi3.jpg", alt="audi")
									span.filter_generation-text Audi VI (G11/G12) 7 серия 730i M Sport SE

		.filter_select.js-dropdown-wrapper
			.filter_trigger.js-drop-trigger
				span Комплектация
				.filter_arrow.icon-keyboard_arrow_down
			.dropdown.js-dropdown
				.js-scrollbar.scrollbar-inner.scroll-filter.scroll-filter--h360
					ul.dropdown_list
						li.dropdown_item.dropdown_item
							a(href="#").dropdown_link.js-drop_link.dropdown_link--reset Любая
								span.dropdown_reset
						li.dropdown_item
							a(href="#").dropdown_link.js-drop_link Задняя спинка 40 на 60, сиденье единое. (С AIR-Bag и БЕЗ AIR-Bag перед сиденья)
						li.dropdown_item
							a(href="#").dropdown_link.js-drop_link Задние спинка и сиденье единые. ( с AIR-Bag и БЕЗ AIR-Bag перед сиденья)

		button(type="submit").btn.btn--red Показать

	.filter_body
		h3.subtitle Марка автомобиля
		.filter_content
			.filter_item
				a(href="#").filter_link
					.filter_img
						img(src="img/car-brands/audi.jpg", alt="audi")
					span.filter_text Audi
			.filter_item
				a(href="#").filter_link
					.filter_img
						img(src="img/car-brands/audi.jpg", alt="audi")
					span.filter_text Audi
			.filter_item
				a(href="#").filter_link
					.filter_img
						img(src="img/car-brands/audi.jpg", alt="audi")
					span.filter_text Audi
			.filter_item
				a(href="#").filter_link
					.filter_img
						img(src="img/car-brands/audi.jpg", alt="audi")
					span.filter_text Audi
			.filter_item
				a(href="#").filter_link
					.filter_img
						img(src="img/car-brands/bmw.jpg", alt="bmw")
					span.filter_text BMW
			.filter_item
				a(href="#").filter_link
					.filter_img
						img(src="img/car-brands/bmw.jpg", alt="bmw")
					span.filter_text BMW
			.filter_item
				a(href="#").filter_link
					.filter_img
						img(src="img/car-brands/bmw.jpg", alt="bmw")
					span.filter_text BMW
			.filter_item
				a(href="#").filter_link
					.filter_img
						img(src="img/car-brands/bmw.jpg", alt="bmw")
					span.filter_text BMW
			.filter_item
				a(href="#").filter_link
					.filter_img
						img(src="img/car-brands/chevrolet.jpg", alt="chevrolet")
					span.filter_text Chevrolet
			.filter_item
				a(href="#").filter_link
					.filter_img
						img(src="img/car-brands/chevrolet.jpg", alt="chevrolet")
					span.filter_text Chevrolet
			.filter_item
				a(href="#").filter_link
					.filter_img
						img(src="img/car-brands/chevrolet.jpg", alt="chevrolet")
					span.filter_text Chevrolet
			.filter_item
				a(href="#").filter_link
					.filter_img
						img(src="img/car-brands/chevrolet.jpg", alt="chevrolet")
					span.filter_text Chevrolet
			.filter_item
				a(href="#").filter_link
					.filter_img
						img(src="img/car-brands/citroen.jpg", alt="citroen")
					span.filter_text Citroen
			.filter_item
				a(href="#").filter_link
					.filter_img
						img(src="img/car-brands/citroen.jpg", alt="citroen")
					span.filter_text Citroen
			.filter_item
				a(href="#").filter_link
					.filter_img
						img(src="img/car-brands/citroen.jpg", alt="citroen")
					span.filter_text Citroen
			.filter_item
				a(href="#").filter_link
					.filter_img
						img(src="img/car-brands/citroen.jpg", alt="citroen")
					span.filter_text Citroen
			.filter_item
				a(href="#").filter_link
					.filter_img
						img(src="img/car-brands/daewoo.jpg", alt="daewoo")
					span.filter_text Daewoo
			.filter_item
				a(href="#").filter_link
					.filter_img
						img(src="img/car-brands/daewoo.jpg", alt="daewoo")
					span.filter_text Daewoo
			.filter_item
				a(href="#").filter_link
					.filter_img
						img(src="img/car-brands/daewoo.jpg", alt="daewoo")
					span.filter_text Daewoo
			.filter_item
				a(href="#").filter_link
					.filter_img
						img(src="img/car-brands/daewoo.jpg", alt="daewoo")
					span.filter_text Daewoo
			.filter_item
				a(href="#").filter_link
					.filter_img
						img(src="img/car-brands/ford.jpg", alt="ford")
					span.filter_text Ford
			.filter_item
				a(href="#").filter_link
					.filter_img
						img(src="img/car-brands/ford.jpg", alt="ford")
					span.filter_text Ford
			.filter_item
				a(href="#").filter_link
					.filter_img
						img(src="img/car-brands/ford.jpg", alt="ford")
					span.filter_text Ford
			.filter_item
				a(href="#").filter_link
					.filter_img
						img(src="img/car-brands/ford.jpg", alt="ford")
					span.filter_text Ford
			.filter_item
				a(href="#").filter_link
					.filter_img
						img(src="img/car-brands/hyundai.jpg", alt="hyundai")
					span.filter_text Hyundai
			.filter_item
				a(href="#").filter_link
					.filter_img
						img(src="img/car-brands/hyundai.jpg", alt="hyundai")
					span.filter_text Hyundai
			.filter_item
				a(href="#").filter_link
					.filter_img
						img(src="img/car-brands/hyundai.jpg", alt="hyundai")
					span.filter_text Hyundai
			.filter_item
				a(href="#").filter_link
					.filter_img
						img(src="img/car-brands/hyundai.jpg", alt="hyundai")
					span.filter_text Hyundai
			.filter_item
				a(href="#").filter_link
					.filter_img
						img(src="img/car-brands/kia.jpg", alt="kia")
					span.filter_text Kia
			.filter_item
				a(href="#").filter_link
					.filter_img
						img(src="img/car-brands/kia.jpg", alt="kia")
					span.filter_text Kia
			.filter_item
				a(href="#").filter_link
					.filter_img
						img(src="img/car-brands/kia.jpg", alt="kia")
					span.filter_text Kia
			.filter_item
				a(href="#").filter_link
					.filter_img
						img(src="img/car-brands/kia.jpg", alt="kia")
					span.filter_text Kia

	.filter_body
		h3.subtitle Модель автомобиля
		.filter_content
			.filter_item.filter_item--mb
				a(href="#").filter_link
					span.filter_text 3 серия
			.filter_item.filter_item--mb
				a(href="#").filter_link
					span.filter_text 3 серия
			.filter_item.filter_item--mb
				a(href="#").filter_link
					span.filter_text 3 серия
			.filter_item.filter_item--mb
				a(href="#").filter_link
					span.filter_text 3 серия
			.filter_item.filter_item--mb
				a(href="#").filter_link
					span.filter_text 4 серия
			.filter_item.filter_item--mb
				a(href="#").filter_link
					span.filter_text 4 серия
			.filter_item.filter_item--mb
				a(href="#").filter_link
					span.filter_text 4 серия
			.filter_item.filter_item--mb
				a(href="#").filter_link
					span.filter_text 4 серия
			.filter_item.filter_item--mb
				a(href="#").filter_link
					span.filter_text 5 серия
			.filter_item.filter_item--mb
				a(href="#").filter_link
					span.filter_text 5 серия
			.filter_item.filter_item--mb
				a(href="#").filter_link
					span.filter_text 5 серия
			.filter_item.filter_item--mb
				a(href="#").filter_link
					span.filter_text 5 серия
			.filter_item.filter_item--mb
				a(href="#").filter_link
					span.filter_text 6 серия
			.filter_item.filter_item--mb
				a(href="#").filter_link
					span.filter_text 6 серия
			.filter_item.filter_item--mb
				a(href="#").filter_link
					span.filter_text 6 серия
			.filter_item.filter_item--mb
				a(href="#").filter_link
					span.filter_text 6 серия
			.filter_item.filter_item--mb
				a(href="#").filter_link
					span.filter_text 7 серия
			.filter_item.filter_item--mb
				a(href="#").filter_link
					span.filter_text 7 серия
			.filter_item.filter_item--mb
				a(href="#").filter_link
					span.filter_text 7 серия
			.filter_item.filter_item--mb
				a(href="#").filter_link
					span.filter_text 7 серия
			.filter_item.filter_item--mb
				a(href="#").filter_link
					span.filter_text Х1
			.filter_item.filter_item--mb
				a(href="#").filter_link
					span.filter_text Х1
			.filter_item.filter_item--mb
				a(href="#").filter_link
					span.filter_text Х1
			.filter_item.filter_item--mb
				a(href="#").filter_link
					span.filter_text Х1
			.filter_item.filter_item--mb
				a(href="#").filter_link
					span.filter_text Х2
			.filter_item.filter_item--mb
				a(href="#").filter_link
					span.filter_text Х2
			.filter_item.filter_item--mb
				a(href="#").filter_link
					span.filter_text Х2
			.filter_item.filter_item--mb
				a(href="#").filter_link
					span.filter_text Х2
			.filter_item.filter_item--mb
				a(href="#").filter_link
					span.filter_text Х
			.filter_item.filter_item--mb
				a(href="#").filter_link
					span.filter_text Х
			.filter_item.filter_item--mb
				a(href="#").filter_link
					span.filter_text Х
			.filter_item.filter_item--mb
				a(href="#").filter_link
					span.filter_text Х

	.filter_body
		h3.subtitle Поколение автомобиля
		.js-scrollbar.scrollbar-inner.scroll-filter
			.filter_row
				.filter_col
					a(href="#").filter_generation-link
						.filter_generation-img.img-responsive
							img(src="img/car-generation/audi1.jpg", alt="audi")
						span.filter_generation-text Audi VI (G11/G12) 7 серия 730i M Sport SE
				.filter_col
					a(href="#").filter_generation-link
						.filter_generation-img.img-responsive
							img(src="img/car-generation/audi2.jpg", alt="audi")
						span.filter_generation-text Audi VI (G11/G12) 7 серия 730i M Sport SE
				.filter_col
					a(href="#").filter_generation-link
						.filter_generation-img.img-responsive
							img(src="img/car-generation/audi3.jpg", alt="audi")
						span.filter_generation-text Audi VI (G11/G12) 7 серия 730i M Sport SE
				.filter_col
					a(href="#").filter_generation-link
						.filter_generation-img.img-responsive
							img(src="img/car-generation/audi1.jpg", alt="audi")
						span.filter_generation-text Audi VI (G11/G12) 7 серия 730i M Sport SE
				.filter_col
					a(href="#").filter_generation-link
						.filter_generation-img.img-responsive
							img(src="img/car-generation/audi1.jpg", alt="audi")
						span.filter_generation-text Audi VI (G11/G12) 7 серия 730i M Sport SE
				.filter_col
					a(href="#").filter_generation-link
						.filter_generation-img.img-responsive
							img(src="img/car-generation/audi2.jpg", alt="audi")
						span.filter_generation-text Audi VI (G11/G12) 7 серия 730i M Sport SE
				.filter_col
					a(href="#").filter_generation-link
						.filter_generation-img.img-responsive
							img(src="img/car-generation/audi3.jpg", alt="audi")
						span.filter_generation-text Audi VI (G11/G12) 7 серия 730i M Sport SE
				.filter_col
					a(href="#").filter_generation-link
						.filter_generation-img.img-responsive
							img(src="img/car-generation/audi1.jpg", alt="audi")
						span.filter_generation-text Audi VI (G11/G12) 7 серия 730i M Sport SE
				.filter_col
					a(href="#").filter_generation-link
						.filter_generation-img.img-responsive
							img(src="img/car-generation/audi1.jpg", alt="audi")
						span.filter_generation-text Audi VI (G11/G12) 7 серия 730i M Sport SE
				.filter_col
					a(href="#").filter_generation-link
						.filter_generation-img.img-responsive
							img(src="img/car-generation/audi2.jpg", alt="audi")
						span.filter_generation-text Audi VI (G11/G12) 7 серия 730i M Sport SE
				.filter_col
					a(href="#").filter_generation-link
						.filter_generation-img.img-responsive
							img(src="img/car-generation/audi3.jpg", alt="audi")
						span.filter_generation-text Audi VI (G11/G12) 7 серия 730i M Sport SE
				.filter_col
					a(href="#").filter_generation-link
						.filter_generation-img.img-responsive
							img(src="img/car-generation/audi1.jpg", alt="audi")
						span.filter_generation-text Audi VI (G11/G12) 7 серия 730i M Sport SE

	.filter_body
		h3.subtitle Комплектация автомобиля
		.filter_content
			.filter_item.filter_item--config
				a(href="#").filter_link
					span.filter_text Задняя спинка 40 на 60, сиденье единое. (С AIR-Bag и БЕЗ AIR-Bag перед сиденья)
			.filter_item.filter_item--config
				a(href="#").filter_link
					span.filter_text Задние спинка и сиденье единые. ( с AIR-Bag и БЕЗ AIR-Bag перед сиденья)
// /filter