// footer
footer.footer 
	.wrapper 
		.footer_top
			.row

				.footer_col.footer_col--1
					ul.footer_nav
						li.footer_item
							a(href="#").footer_link Доставка
						li.footer_item
							a(href="#").footer_link Оплата
						li.footer_item
							a(href="#").footer_link Установка чехлов
						li.footer_item
							a(href="#").footer_link Индивидуальный пошив
						li.footer_item
							a(href="#").footer_link Где купить

				.footer_col.footer_col--2
					ul.footer_nav
						li.footer_item
							a(href="#").footer_link Контакты
						li.footer_item
							a(href="#").footer_link Отзывы
						li.footer_item
							a(href="#").footer_link Отслеживание заказа
						li.footer_item
							a(href="#").footer_link Гарантия и возврат
						li.footer_item
							a(href="#").footer_link Скидки и акции
						
				.footer_col.mobile-visible
					.footer_rectangle

				.footer_col.footer_col--3
					.call_content
						a(href="tel:88006005429").call_num 8 800 600-54-29
						.call_text Ежедневно с 9 до 21
					.social
						ul.social_list
							li.social_item
								a(href="#").social_link
									img(src="img/whatsapp.svg", alt="whatsapp").social_icon
							li.social_item
								a(href="#").social_link
									img(src="img/viber.svg", alt="viber").social_icon
							li.social_item
								a(href="#").social_link
									img(src="img/telegram.svg", alt="telegram").social_icon
				.footer_col.footer_col--4.mobile-hide
					.footer_rectangle
				.footer_col.footer_col--5.mobile-hide
					a(href="main.html").footer_logo
						img(src="img/logo.svg", alt="logo")

	.footer_bottom
		.wrapper
			.row
				.footer_bottom_col © 2019 ООО AutoChekhly.ru 
				.footer_bottom_col
					a(href="#").footer_linkb Правила продажи 
				.footer_bottom_col-big
					a(href="#").footer_linkb Политика  конфиденциальности
			a(href="#").wings
				img(src="img/wings.svg", alt="wing")

			a(href="main.html").footer_logo-mobile
				img(src="img/logo.svg", alt="logo")
// /footer

script(src="js/jquery-3.2.1.min.js")
script(src="js/slick.min.js")
script(src="js/jquery.fancybox.min.js")
script(src="js/jquery.matchHeight-min.js")
script(src="js/jquery.inputmask.bundle.min.js")
script(src="js/autosize.min.js")
//- script(src="js/tooltipster.bundle.min.js")
//- script(src="js/jquery.mmenu.all.js")
//- script(src="js/wow.min.js")
//- script(src="js/fullpage.min.js")
//- script(src="js/jquery.vide.min.js")
script(src="js/jquery.scrollbar.min.js")
//- <script src="http://api-maps.yandex.ru/2.1/?lang=ru_RU"></script>
//- <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDArYzQvxn3CL3pB92Iqn9gaDltBFLfF4Y"></script>
//- script(src="js/jquery.formstyler.min.js")
script(src="js/script.js")