// header
header.header#header
	.wrapper
		
		.header_left

			#menu.menu
				#menu-btn.menu_btn

				nav.menu_nav
					.menu_header
						#menu-close.menu_close
						a(href="main.html").logo
							img(src="img/logo.svg", alt="logo")
					ul.menu_list
						li.menu_item
							a(href="#").menu_link Доставка
						li.menu_item
							a(href="#").menu_link Оплата
						li.menu_item
							a(href="#").menu_link Установка чехлов
						li.menu_item
							a(href="#").menu_link Индивидуальный пошив
						li.menu_item
							a(href="#").menu_link Где купить
						li.menu_item
							a(href="#").menu_link Контакты
						li.menu_item
							a(href="#").menu_link Отзывы
						li.menu_item
							a(href="#").menu_link Отслеживание заказа
						li.menu_item
							a(href="#").menu_link Гарантия и возврат
						li.menu_item
							a(href="#").menu_link Скидки и акции
						li.menu_item
							a(href="#").menu_link Правила продажи
						li.menu_item
							a(href="#").menu_link Политика конфиденциальности

			a(href="main.html").logo.logo--desktop
				img(src="img/logo.svg", alt="logo")

			.location-wrapper
				a(href="#").location
					img(src="img/location.svg", alt="location").location_icon
					span.location_text Москва
			.location-dropdown
				form(action="#").location-dropdown_block
					.clearfix
						.location-dropdown_close.js-close
						.location-dropdown_text Город доставки: 
							span Санкт-Петербург
						input(type="text" placeholder="Город или населенный пункт").location-dropdown_input
					button(type="submit").btn.btn--green.location-dropdown_btn Выбрать
					button(type="submit").btn.btn--gray.location-dropdown_btn.location-dropdown_btn--remove Изменить

		.header_right

			.call
				a(href="tel:88006005429")
					img(src="img/call.svg", alt="call").call_img.mobile-hide
					img(src="img/call-mob.svg", alt="call").call_img.mobile-visible
				.call_content.mobile-hide--md
					a(href="tel:88006005429").call_num 8 800 600-54-29
					.call_text Ежедневно с 9 до 21

// /header