extends blocks/base.jade

block title 
	title Авточехлы - Доставка

block content

	include blocks/header.jade
	
	.wrapper

		.main-sidebar.mobile-hide

			.sidebar

				// sidebar-item
				.sidebar-item
					.sidebar-item_item
						img(src="img/car.svg", alt="car").sidebar-item_icon.sidebar-item_icon--car
						.sidebar-item_text Отправка на следующий день
					.sidebar-item_item
						img(src="img/hand.svg", alt="hand").sidebar-item_icon.sidebar-item_icon--hand
						.sidebar-item_text Цены производителя
				// /sidebar-item

			.main
				
				include blocks/filter.jade

		// delivery
		.delivery
			h1.title Доставка чехлов
			.delivery_row
				.delivery_col
					p.delivery_text Стоимость доставки зависит от способа оплаты заказа.
					.delivery_buttons.delivery_buttons--half
						a(href="#").delivery_btn.js-match-height Наличными при получении
						a(href="#").delivery_btn.js-match-height Банковской картой на сайте
			
			.delivery_row

				.delivery_col
					p.delivery_text.delivery_text--big-mobile Стоимость и сроки доставки
					.delivery_buttons
						a(href="#").delivery_btn.delivery_btn--span.js-match-height В пункт выдачи
							span 345 Р  - 1 день
						a(href="#").delivery_btn.delivery_btn--span.js-match-height Почтой РФ
							span 345 Р  - 1 день
						a(href="#").delivery_btn.delivery_btn--span.js-match-height Курьером
							span 345 Р  - 1 день

				.delivery_col
					p.delivery_text.delivery_text--big-mobile Транспортные компании
					// transport-company
					.transport-company
						a(href="#").transport-company_link.transport-company_link--delivery
							img(src="img/dpd.svg", alt="dpd").transport-company_img.transport-company_img--dpd
						a(href="#").transport-company_link.transport-company_link--delivery
							img(src="img/boxberry.svg", alt="boxberry").transport-company_img.transport-company_img--boxberry
						a(href="#").transport-company_link.transport-company_link--delivery
							img(src="img/iml.svg", alt="iml").transport-company_img.transport-company_img--iml
						a(href="#").transport-company_link.transport-company_link--delivery
							img(src="img/pek.svg", alt="pek").transport-company_img.transport-company_img--pek
						a(href="#").transport-company_link.transport-company_link--delivery
							img(src="img/cdek.svg", alt="cdek").transport-company_img.transport-company_img--cdek
						a(href="#").transport-company_link.transport-company_link--delivery
							img(src="img/pochta_rossii.svg", alt="pochta-rossii").transport-company_img.transport-company_img--pochta-rossii
					// /transport-company
		// /delivery

		.title Пункты выдачи в Москве

		// contacts-map
		.contacts-map
			iframe(src="https://yandex.ru/map-widget/v1/?ll=37.624513%2C55.748635&z=12" width="100%" height="100%" frameborder="1" allowfullscreen="true")
		// /contacts-map

		.title Вы смотрели

		// cards
		.cards.cards--mb

			.row

				.cards_col.cards_col--four-col
					// card
					.card
						.card_img.img-responsive
							a(href="#")
								img(src="img/catalog/eco3.jpg", alt="cover")
						.card_content
							p.card_text.js-match-height Модельные чехлы Audi A3 Sd/Hb 2012 - Жаккард Seintex 86825
							.card_presens.card_presens--orange
								span На заказ 14-21 день
							form(action="#").card_order
								.card_price
									span 6 290
									|  руб
								button(type="submit").card_btn.card_btn--orange Предзаказ
					// /card

				.cards_col.cards_col--four-col
					// card
					.card
						.card_img.img-responsive
							a(href="#")
								img(src="img/catalog/eco3.jpg", alt="cover")
						.card_content
							p.card_text.js-match-height Модельные чехлы Audi A3 Sd/Hb 2012 - Жаккард Seintex 86825
							.card_presens.card_presens--green
								span В наличии
							form(action="#").card_order
								.card_price
									span 6 290
									|  руб
								button(type="submit").card_btn.card_btn--green Купить
					// /card

				.cards_col.cards_col--four-col
					// card
					.card
						.card_img.img-responsive
							a(href="#")
								img(src="img/catalog/eco3.jpg", alt="cover")
						.card_content
							p.card_text.js-match-height Модельные чехлы Audi A3 Sd/Hb 2012 - Жаккард Seintex 86825
							.card_presens.card_presens--green
								span В наличии
							form(action="#").card_order
								.card_price
									span 6 290
									|  руб
								button(type="submit").card_btn.card_btn--green Купить
					// /card

				.cards_col.cards_col--four-col
					// card
					.card
						.card_img.img-responsive
							a(href="#")
								img(src="img/catalog/eco3.jpg", alt="cover")
						.card_content
							p.card_text.js-match-height Модельные чехлы Audi A3 Sd/Hb 2012 - Жаккард Seintex 86825
							.card_presens.card_presens--green
								span В наличии
							form(action="#").card_order
								.card_price
									span 6 290
									|  руб
								button(type="submit").card_btn.card_btn--green Купить
					// /card

		// /cards

		include blocks/bottom-blocks--pages.jade

	include blocks/footer.jade