extends blocks/base.jade

block title 
	title Главная

block content

	include blocks/header.jade
	
	.wrapper

		.main-sidebar

			.sidebar

				// factories
				.factories
					h2.factories_title Все фабрики чехлов на одном сайте
					ul.factories_list
						li.factories_item
							a(href="#").factories_icon
								img(src="img/autopilot.png", alt="logo")
						li.factories_item
							a(href="#").factories_icon
								img(src="img/psv.png", alt="logo")
						li.factories_item
							a(href="#").factories_icon
								img(src="img/seintex.png", alt="logo")
						li.factories_item
							a(href="#").factories_icon
								img(src="img/brotkers.png", alt="logo")
						li.factories_item
							a(href="#").factories_icon
								img(src="img/avtolider.png", alt="logo")
						li.factories_item
							a(href="#").factories_icon
								img(src="img/autoslon.png", alt="logo")
						li.factories_item
							a(href="#").factories_icon
								img(src="img/dinas.png", alt="logo")
						li.factories_item
							a(href="#").factories_icon
								img(src="img/pochin.png", alt="logo")
				// /factories

			.main

				// filter
				.filter

					.subtitle.mobile-visible Выберите автомобиль

					form(action="#").filter_selects

						.filter_select.js-dropdown-wrapper
							.filter_trigger.js-drop-trigger 
								span Марка
								.filter_arrow.icon-keyboard_arrow_down
							.dropdown.dropdown--maw.js-dropdown
								.js-scrollbar.scrollbar-inner.scroll-filter.scroll-filter--h360
									ul.dropdown_list
										li.dropdown_item.dropdown_item
											a(href="#").dropdown_link.js-drop_link.dropdown_link--reset Любая
												span.dropdown_reset
										li.dropdown_item
											a(href="#").dropdown_link.js-drop_link Audi
										li.dropdown_item
											a(href="#").dropdown_link.js-drop_link BMW
										li.dropdown_item
											a(href="#").dropdown_link.js-drop_link Chevrolet
										li.dropdown_item
											a(href="#").dropdown_link.js-drop_link Citroen
										li.dropdown_item
											a(href="#").dropdown_link.js-drop_link Daewoo
										li.dropdown_item
											a(href="#").dropdown_link.js-drop_link Ford
										li.dropdown_item
											a(href="#").dropdown_link.js-drop_link Audi
										li.dropdown_item
											a(href="#").dropdown_link.js-drop_link BMW
										li.dropdown_item
											a(href="#").dropdown_link.js-drop_link Chevrolet

						.filter_select.js-dropdown-wrapper
							.filter_trigger.js-drop-trigger
								span Серия
								.filter_arrow.icon-keyboard_arrow_down
							.dropdown.dropdown--maw.js-dropdown
								.js-scrollbar.scrollbar-inner.scroll-filter.scroll-filter--h360
									ul.dropdown_list
										li.dropdown_item.dropdown_item
											a(href="#").dropdown_link.js-drop_link.dropdown_link--reset Любая
												span.dropdown_reset
										li.dropdown_item
											a(href="#").dropdown_link.js-drop_link 3 серия 
										li.dropdown_item
											a(href="#").dropdown_link.js-drop_link 4 серия
										li.dropdown_item
											a(href="#").dropdown_link.js-drop_link 5 серия
										li.dropdown_item
											a(href="#").dropdown_link.js-drop_link 6 серия
										li.dropdown_item
											a(href="#").dropdown_link.js-drop_link 7 серия
										li.dropdown_item
											a(href="#").dropdown_link.js-drop_link Х1
										li.dropdown_item
											a(href="#").dropdown_link.js-drop_link Х2
										li.dropdown_item
											a(href="#").dropdown_link.js-drop_link Х

						.filter_select.js-dropdown-wrapper
							.filter_trigger.js-drop-trigger
								span Поколение
								.filter_arrow.icon-keyboard_arrow_down
							.dropdown.js-dropdown
								.js-scrollbar.scrollbar-inner.scroll-filter.scroll-filter--generation
									ul.dropdown_list
										.dropdown_row
											.dropdown_col
												a(href="#").filter_generation-link.js-drop_link
													.filter_generation-img.img-responsive
														img(src="img/car-generation/audi1.jpg", alt="audi")
													span.filter_generation-text Audi VI (G11/G12) 7 серия 730i M Sport SE
											.dropdown_col
												a(href="#").filter_generation-link.js-drop_link
													.filter_generation-img.img-responsive
														img(src="img/car-generation/audi2.jpg", alt="audi")
													span.filter_generation-text Audi VI (G11/G12) 7 серия 730i M Sport SE
											.dropdown_col
												a(href="#").filter_generation-link.js-drop_link
													.filter_generation-img.img-responsive
														img(src="img/car-generation/audi3.jpg", alt="audi")
													span.filter_generation-text Audi VI (G11/G12) 7 серия 730i M Sport SE
											.dropdown_col
												a(href="#").filter_generation-link.js-drop_link
													.filter_generation-img.img-responsive
														img(src="img/car-generation/audi1.jpg", alt="audi")
													span.filter_generation-text Audi VI (G11/G12) 7 серия 730i M Sport SE
											.dropdown_col
												a(href="#").filter_generation-link.js-drop_link
													.filter_generation-img.img-responsive
														img(src="img/car-generation/audi2.jpg", alt="audi")
													span.filter_generation-text Audi VI (G11/G12) 7 серия 730i M Sport SE
											.dropdown_col
												a(href="#").filter_generation-link.js-drop_link
													.filter_generation-img.img-responsive
														img(src="img/car-generation/audi3.jpg", alt="audi")
													span.filter_generation-text Audi VI (G11/G12) 7 серия 730i M Sport SE
											.dropdown_col
												a(href="#").filter_generation-link.js-drop_link
													.filter_generation-img.img-responsive
														img(src="img/car-generation/audi1.jpg", alt="audi")
													span.filter_generation-text Audi VI (G11/G12) 7 серия 730i M Sport SE
											.dropdown_col
												a(href="#").filter_generation-link.js-drop_link
													.filter_generation-img.img-responsive
														img(src="img/car-generation/audi2.jpg", alt="audi")
													span.filter_generation-text Audi VI (G11/G12) 7 серия 730i M Sport SE
											.dropdown_col
												a(href="#").filter_generation-link.js-drop_link
													.filter_generation-img.img-responsive
														img(src="img/car-generation/audi3.jpg", alt="audi")
													span.filter_generation-text Audi VI (G11/G12) 7 серия 730i M Sport SE

						.filter_select.js-dropdown-wrapper
							.filter_trigger.js-drop-trigger
								span Комплектация
								.filter_arrow.icon-keyboard_arrow_down
							.dropdown.js-dropdown
								.js-scrollbar.scrollbar-inner.scroll-filter.scroll-filter--h360
									ul.dropdown_list
										li.dropdown_item.dropdown_item
											a(href="#").dropdown_link.js-drop_link.dropdown_link--reset Любая
												span.dropdown_reset
										li.dropdown_item
											a(href="#").dropdown_link.js-drop_link Задняя спинка 40 на 60, сиденье единое. (С AIR-Bag и БЕЗ AIR-Bag перед сиденья)
										li.dropdown_item
											a(href="#").dropdown_link.js-drop_link Задние спинка и сиденье единые. ( с AIR-Bag и БЕЗ AIR-Bag перед сиденья)

						button(type="submit").btn.btn--red Показать

					.filter_body
						.filter_title Марка автомобиля
						.filter_content
							.filter_item
								a(href="#").filter_link
									.filter_img
										img(src="img/car-brands/audi.jpg", alt="audi")
									span.filter_text Audi
							.filter_item
								a(href="#").filter_link
									.filter_img
										img(src="img/car-brands/audi.jpg", alt="audi")
									span.filter_text Audi
							.filter_item
								a(href="#").filter_link
									.filter_img
										img(src="img/car-brands/audi.jpg", alt="audi")
									span.filter_text Audi
							.filter_item
								a(href="#").filter_link
									.filter_img
										img(src="img/car-brands/audi.jpg", alt="audi")
									span.filter_text Audi
							.filter_item
								a(href="#").filter_link
									.filter_img
										img(src="img/car-brands/bmw.jpg", alt="bmw")
									span.filter_text BMW
							.filter_item
								a(href="#").filter_link
									.filter_img
										img(src="img/car-brands/bmw.jpg", alt="bmw")
									span.filter_text BMW
							.filter_item
								a(href="#").filter_link
									.filter_img
										img(src="img/car-brands/bmw.jpg", alt="bmw")
									span.filter_text BMW
							.filter_item
								a(href="#").filter_link
									.filter_img
										img(src="img/car-brands/bmw.jpg", alt="bmw")
									span.filter_text BMW
							.filter_item
								a(href="#").filter_link
									.filter_img
										img(src="img/car-brands/chevrolet.jpg", alt="chevrolet")
									span.filter_text Chevrolet
							.filter_item
								a(href="#").filter_link
									.filter_img
										img(src="img/car-brands/chevrolet.jpg", alt="chevrolet")
									span.filter_text Chevrolet
							.filter_item
								a(href="#").filter_link
									.filter_img
										img(src="img/car-brands/chevrolet.jpg", alt="chevrolet")
									span.filter_text Chevrolet
							.filter_item
								a(href="#").filter_link
									.filter_img
										img(src="img/car-brands/chevrolet.jpg", alt="chevrolet")
									span.filter_text Chevrolet
							.filter_item
								a(href="#").filter_link
									.filter_img
										img(src="img/car-brands/citroen.jpg", alt="citroen")
									span.filter_text Citroen
							.filter_item
								a(href="#").filter_link
									.filter_img
										img(src="img/car-brands/citroen.jpg", alt="citroen")
									span.filter_text Citroen
							.filter_item
								a(href="#").filter_link
									.filter_img
										img(src="img/car-brands/citroen.jpg", alt="citroen")
									span.filter_text Citroen
							.filter_item
								a(href="#").filter_link
									.filter_img
										img(src="img/car-brands/citroen.jpg", alt="citroen")
									span.filter_text Citroen
							.filter_item
								a(href="#").filter_link
									.filter_img
										img(src="img/car-brands/daewoo.jpg", alt="daewoo")
									span.filter_text Daewoo
							.filter_item
								a(href="#").filter_link
									.filter_img
										img(src="img/car-brands/daewoo.jpg", alt="daewoo")
									span.filter_text Daewoo
							.filter_item
								a(href="#").filter_link
									.filter_img
										img(src="img/car-brands/daewoo.jpg", alt="daewoo")
									span.filter_text Daewoo
							.filter_item
								a(href="#").filter_link
									.filter_img
										img(src="img/car-brands/daewoo.jpg", alt="daewoo")
									span.filter_text Daewoo
							.filter_item
								a(href="#").filter_link
									.filter_img
										img(src="img/car-brands/ford.jpg", alt="ford")
									span.filter_text Ford
							.filter_item
								a(href="#").filter_link
									.filter_img
										img(src="img/car-brands/ford.jpg", alt="ford")
									span.filter_text Ford
							.filter_item
								a(href="#").filter_link
									.filter_img
										img(src="img/car-brands/ford.jpg", alt="ford")
									span.filter_text Ford
							.filter_item
								a(href="#").filter_link
									.filter_img
										img(src="img/car-brands/ford.jpg", alt="ford")
									span.filter_text Ford
							.filter_item
								a(href="#").filter_link
									.filter_img
										img(src="img/car-brands/hyundai.jpg", alt="hyundai")
									span.filter_text Hyundai
							.filter_item
								a(href="#").filter_link
									.filter_img
										img(src="img/car-brands/hyundai.jpg", alt="hyundai")
									span.filter_text Hyundai
							.filter_item
								a(href="#").filter_link
									.filter_img
										img(src="img/car-brands/hyundai.jpg", alt="hyundai")
									span.filter_text Hyundai
							.filter_item
								a(href="#").filter_link
									.filter_img
										img(src="img/car-brands/hyundai.jpg", alt="hyundai")
									span.filter_text Hyundai
							.filter_item
								a(href="#").filter_link
									.filter_img
										img(src="img/car-brands/kia.jpg", alt="kia")
									span.filter_text Kia
							.filter_item
								a(href="#").filter_link
									.filter_img
										img(src="img/car-brands/kia.jpg", alt="kia")
									span.filter_text Kia
							.filter_item
								a(href="#").filter_link
									.filter_img
										img(src="img/car-brands/kia.jpg", alt="kia")
									span.filter_text Kia
							.filter_item
								a(href="#").filter_link
									.filter_img
										img(src="img/car-brands/kia.jpg", alt="kia")
									span.filter_text Kia

					.filter_body
						.filter_title Модель автомобиля
						.filter_content
							.filter_item.filter_item--mb
								a(href="#").filter_link
									span.filter_text 3 серия
							.filter_item.filter_item--mb
								a(href="#").filter_link
									span.filter_text 3 серия
							.filter_item.filter_item--mb
								a(href="#").filter_link
									span.filter_text 3 серия
							.filter_item.filter_item--mb
								a(href="#").filter_link
									span.filter_text 3 серия
							.filter_item.filter_item--mb
								a(href="#").filter_link
									span.filter_text 4 серия
							.filter_item.filter_item--mb
								a(href="#").filter_link
									span.filter_text 4 серия
							.filter_item.filter_item--mb
								a(href="#").filter_link
									span.filter_text 4 серия
							.filter_item.filter_item--mb
								a(href="#").filter_link
									span.filter_text 4 серия
							.filter_item.filter_item--mb
								a(href="#").filter_link
									span.filter_text 5 серия
							.filter_item.filter_item--mb
								a(href="#").filter_link
									span.filter_text 5 серия
							.filter_item.filter_item--mb
								a(href="#").filter_link
									span.filter_text 5 серия
							.filter_item.filter_item--mb
								a(href="#").filter_link
									span.filter_text 5 серия
							.filter_item.filter_item--mb
								a(href="#").filter_link
									span.filter_text 6 серия
							.filter_item.filter_item--mb
								a(href="#").filter_link
									span.filter_text 6 серия
							.filter_item.filter_item--mb
								a(href="#").filter_link
									span.filter_text 6 серия
							.filter_item.filter_item--mb
								a(href="#").filter_link
									span.filter_text 6 серия
							.filter_item.filter_item--mb
								a(href="#").filter_link
									span.filter_text 7 серия
							.filter_item.filter_item--mb
								a(href="#").filter_link
									span.filter_text 7 серия
							.filter_item.filter_item--mb
								a(href="#").filter_link
									span.filter_text 7 серия
							.filter_item.filter_item--mb
								a(href="#").filter_link
									span.filter_text 7 серия
							.filter_item.filter_item--mb
								a(href="#").filter_link
									span.filter_text Х1
							.filter_item.filter_item--mb
								a(href="#").filter_link
									span.filter_text Х1
							.filter_item.filter_item--mb
								a(href="#").filter_link
									span.filter_text Х1
							.filter_item.filter_item--mb
								a(href="#").filter_link
									span.filter_text Х1
							.filter_item.filter_item--mb
								a(href="#").filter_link
									span.filter_text Х2
							.filter_item.filter_item--mb
								a(href="#").filter_link
									span.filter_text Х2
							.filter_item.filter_item--mb
								a(href="#").filter_link
									span.filter_text Х2
							.filter_item.filter_item--mb
								a(href="#").filter_link
									span.filter_text Х2
							.filter_item.filter_item--mb
								a(href="#").filter_link
									span.filter_text Х
							.filter_item.filter_item--mb
								a(href="#").filter_link
									span.filter_text Х
							.filter_item.filter_item--mb
								a(href="#").filter_link
									span.filter_text Х
							.filter_item.filter_item--mb
								a(href="#").filter_link
									span.filter_text Х

					.filter_body
						.filter_title Поколение автомобиля
						.js-scrollbar.scrollbar-inner.scroll-filter
							.filter_row
								.filter_col
									a(href="#").filter_generation-link
										.filter_generation-img.img-responsive
											img(src="img/car-generation/audi1.jpg", alt="audi")
										span.filter_generation-text Audi VI (G11/G12) 7 серия 730i M Sport SE
								.filter_col
									a(href="#").filter_generation-link
										.filter_generation-img.img-responsive
											img(src="img/car-generation/audi2.jpg", alt="audi")
										span.filter_generation-text Audi VI (G11/G12) 7 серия 730i M Sport SE
								.filter_col
									a(href="#").filter_generation-link
										.filter_generation-img.img-responsive
											img(src="img/car-generation/audi3.jpg", alt="audi")
										span.filter_generation-text Audi VI (G11/G12) 7 серия 730i M Sport SE
								.filter_col
									a(href="#").filter_generation-link
										.filter_generation-img.img-responsive
											img(src="img/car-generation/audi1.jpg", alt="audi")
										span.filter_generation-text Audi VI (G11/G12) 7 серия 730i M Sport SE
								.filter_col
									a(href="#").filter_generation-link
										.filter_generation-img.img-responsive
											img(src="img/car-generation/audi1.jpg", alt="audi")
										span.filter_generation-text Audi VI (G11/G12) 7 серия 730i M Sport SE
								.filter_col
									a(href="#").filter_generation-link
										.filter_generation-img.img-responsive
											img(src="img/car-generation/audi2.jpg", alt="audi")
										span.filter_generation-text Audi VI (G11/G12) 7 серия 730i M Sport SE
								.filter_col
									a(href="#").filter_generation-link
										.filter_generation-img.img-responsive
											img(src="img/car-generation/audi3.jpg", alt="audi")
										span.filter_generation-text Audi VI (G11/G12) 7 серия 730i M Sport SE
								.filter_col
									a(href="#").filter_generation-link
										.filter_generation-img.img-responsive
											img(src="img/car-generation/audi1.jpg", alt="audi")
										span.filter_generation-text Audi VI (G11/G12) 7 серия 730i M Sport SE
								.filter_col
									a(href="#").filter_generation-link
										.filter_generation-img.img-responsive
											img(src="img/car-generation/audi1.jpg", alt="audi")
										span.filter_generation-text Audi VI (G11/G12) 7 серия 730i M Sport SE
								.filter_col
									a(href="#").filter_generation-link
										.filter_generation-img.img-responsive
											img(src="img/car-generation/audi2.jpg", alt="audi")
										span.filter_generation-text Audi VI (G11/G12) 7 серия 730i M Sport SE
								.filter_col
									a(href="#").filter_generation-link
										.filter_generation-img.img-responsive
											img(src="img/car-generation/audi3.jpg", alt="audi")
										span.filter_generation-text Audi VI (G11/G12) 7 серия 730i M Sport SE
								.filter_col
									a(href="#").filter_generation-link
										.filter_generation-img.img-responsive
											img(src="img/car-generation/audi1.jpg", alt="audi")
										span.filter_generation-text Audi VI (G11/G12) 7 серия 730i M Sport SE

					.filter_body
						.filter_title Комплектация автомобиля
						.filter_content
							.filter_item.filter_item--config
								a(href="#").filter_link
									span.filter_text Задняя спинка 40 на 60, сиденье единое. (С AIR-Bag и БЕЗ AIR-Bag перед сиденья)
							.filter_item.filter_item--config
								a(href="#").filter_link
									span.filter_text Задние спинка и сиденье единые. ( с AIR-Bag и БЕЗ AIR-Bag перед сиденья)
				// /filter

			// image-btn
			.image-btn
				.row
					.image-btn_col
						a(href="#").image-btn_item.data-img(data-img="img/cover-eco.jpg")
							.image-btn_title Модельные чехлы из экокожи
					.image-btn_col
						a(href="#").image-btn_item.data-img(data-img="img/cover-combo.jpg")
							.image-btn_title Модельные чехлы комбинированные
		// /image-btn

		// cards-slider
		.cards-slider

			.cards-slider_title
				.cards-slider_controll
					#cards-slider-prev.cards-slider_prev
						span.icon-keyboard_arrow_left
					#cards-slider-next.cards-slider_next
						span.icon-keyboard_arrow_right
				h2.subtitle Вы смотрели

			#cards-slider.cards-slider_slider
	
				.cards-slider_slide
					// card
					.card
						.card_img.img-responsive
							a(href="#")
								img(src="img/catalog/eco3.jpg", alt="cover")
						.card_content
							p.card_text.js-match-height Модельные чехлы Audi A3 Sd/Hb 2012 - Жаккард Seintex 86825
							.card_presens.card_presens--orange
								span На заказ 14-21 день
							form(action="#").card_order
								.card_price
									span 6 290
									|  руб
								button(type="submit").card_btn.card_btn--orange Предзаказ
					// /card

				.cards-slider_slide
					// card
					.card
						.card_img.img-responsive
							a(href="#")
								img(src="img/catalog/eco3.jpg", alt="cover")
						.card_content
							p.card_text.js-match-height Модельные чехлы Audi A3 Sd/Hb 2012 - Жаккард Seintex 86825
							.card_presens.card_presens--green
								span В наличии
							form(action="#").card_order
								.card_price
									span 6 290
									|  руб
								button(type="submit").card_btn.card_btn--green Купить
					// /card

				.cards-slider_slide
					// card
					.card
						.card_img.img-responsive
							a(href="#")
								img(src="img/catalog/eco3.jpg", alt="cover")
						.card_content
							p.card_text.js-match-height Модельные чехлы Audi A3 Sd/Hb 2012 - Жаккард Seintex 86825
							.card_presens.card_presens--green
								span В наличии
							form(action="#").card_order
								.card_price
									span 6 290
									|  руб
								button(type="submit").card_btn.card_btn--green Купить
					// /card

				.cards-slider_slide
					// card
					.card
						.card_img.img-responsive
							a(href="#")
								img(src="img/catalog/eco3.jpg", alt="cover")
						.card_content
							p.card_text.js-match-height Модельные чехлы Audi A3 Sd/Hb 2012 - Жаккард Seintex 86825
							.card_presens.card_presens--green
								span В наличии
							form(action="#").card_order
								.card_price
									span 6 290
									|  руб
								button(type="submit").card_btn.card_btn--green Купить
					// /card

				.cards-slider_slide
					// card
					.card
						.card_img.img-responsive
							a(href="#")
								img(src="img/catalog/eco3.jpg", alt="cover")
						.card_content
							p.card_text.js-match-height Модельные чехлы Audi A3 Sd/Hb 2012 - Жаккард Seintex 86825
							.card_presens.card_presens--green
								span В наличии
							form(action="#").card_order
								.card_price
									span 6 290
									|  руб
								button(type="submit").card_btn.card_btn--green Купить
					// /card

				.cards-slider_slide
					// card
					.card
						.card_img.img-responsive
							a(href="#")
								img(src="img/catalog/eco3.jpg", alt="cover")
						.card_content
							p.card_text.js-match-height Модельные чехлы Audi A3 Sd/Hb 2012 - Жаккард Seintex 86825
							.card_presens.card_presens--green
								span В наличии
							form(action="#").card_order
								.card_price
									span 6 290
									|  руб
								button(type="submit").card_btn.card_btn--green Купить
					// /card

		// /cards-slider

		.main-sidebar

			.sidebar.mobile-hide--md

				.sideb

					h2.subtitle Доставка
					
					// delivery
					.delivery
						a(href="#").delivery_link
							img(src="img/dpd.jpg", alt="dpd").delivery_img
						a(href="#").delivery_link
							img(src="img/boxberry.jpg", alt="boxberry").delivery_img
						a(href="#").delivery_link
							img(src="img/iml.jpg", alt="iml").delivery_img
						a(href="#").delivery_link
							img(src="img/pec.jpg", alt="pec").delivery_img
						a(href="#").delivery_link
							img(src="img/cdek.jpg", alt="cdek").delivery_img
					// /delivery

					h2.subtitle Оплата

					// pay
					.pay
						ul.pay_list
							li.pay_item
								img(src="img/bank-card.svg", alt="bank-card").pay_img
								span.pay_text Банковской картой на сайте
							li.pay_item
								img(src="img/cash.svg", alt="cash").pay_img
								span.pay_text Наличными при получении
						ul.pay_cards
							li.pay_card
								img(src="img/visa.png", alt="visa-logo").pay_card-img
							li.pay_card
								img(src="img/mastercard.svg", alt="mastercard-logo").pay_card-img
							li.pay_card
								img(src="img/maestro.png", alt="maestro-logo").pay_card-img
							li.pay_sberbank
								img(src="img/sberbank.svg", alt="sbarbank-logo").pay_sberbank-logo
							.pay_sberbank-text Обработку платежей осуществляет ПАО Сбербанк
					// /pay

			.main.main--maw-780

				h2.subtitle Как заказать
				
				// tutorial
				ul.tutorial
					li.tutorial_item
						img(src="img/purse.svg", alt="purse").tutorial_img
						p.tutorial_text Сделайте заказ на сайте или любым удобным способом
					li.tutorial_item
						img(src="img/truck.svg", alt="truck").tutorial_img
						p.tutorial_text Мы подготовим и отправим заказ на следующий день
					li.tutorial_item
						img(src="img/smartphone.svg", alt="smartphone").tutorial_img
						p.tutorial_text Дождитесь СМС о доставке и получите заказ
				// /tutorial

				h2.subtitle Установка чехлов
				
				// install
				.install

					.text
						p Установить чехлы можно как в любом нашем 
							a(href="#") сервисном центре
							|  в Москве, так и с выездом к вам.

					.row
						.install_col
							a(href="#").install_item.js-match-height
								img(src="img/house.svg", alt="house").install_img.install_img--house
								.install_content
									.install_text Установка в сервисном центре
									.install_price 1000 Руб
						.install_col
							a(href="#").install_item.js-match-height.install_item--2
								img(src="img/seat.svg", alt="seat").install_img.install_img--seat
								.install_content
									.install_text Установка с подшивкой к сиденьям
									.install_price 4500 Руб
						.install_col
							a(href="#").install_item.js-match-height
								img(src="img/car.svg", alt="car").install_img.install_img--car
								.install_content
									.install_text Установка с выездом
									.install_price 1500 Руб
						.install_col
							a(href="#").install_item.js-match-height
								img(src="img/car-end-seat.svg", alt="car-end-seat").install_img.install_img--car-end-seat
								.install_content
									.install_text Установка с подшивкой к сиденьям с выездом
									.install_price 5500 Руб
				// /install

			.sidebar.mobile-visible--md

				.sideb

					h2.subtitle Доставка
					
					// delivery
					.delivery
						a(href="#").delivery_link
							img(src="img/dpd.jpg", alt="dpd").delivery_img.delivery_img--desktop
							img(src="img/dpd-mob.jpg", alt="dpd").delivery_img.delivery_img--mobile
						a(href="#").delivery_link
							img(src="img/boxberry.jpg", alt="dpd").delivery_img.delivery_img--desktop
							img(src="img/boxberry-mob.jpg", alt="dpd").delivery_img.delivery_img--mobile
						a(href="#").delivery_link
							img(src="img/iml.jpg", alt="dpd").delivery_img.delivery_img--desktop
							img(src="img/iml-mob.jpg", alt="dpd").delivery_img.delivery_img--mobile
						a(href="#").delivery_link
							img(src="img/pec.jpg", alt="dpd").delivery_img.delivery_img--desktop
							img(src="img/pec-mob.jpg", alt="dpd").delivery_img.delivery_img--mobile
						a(href="#").delivery_link
							img(src="img/cdek.jpg", alt="dpd").delivery_img.delivery_img--desktop
							img(src="img/cdek-mob.jpg", alt="dpd").delivery_img.delivery_img--mobile
					// /delivery

					h2.subtitle Оплата

					// pay
					.pay
						ul.pay_list
							li.pay_item
								img(src="img/bank-card.svg", alt="bank-card").pay_img
								span.pay_text Банковской картой на сайте
							li.pay_item
								img(src="img/cash.svg", alt="cash").pay_img
								span.pay_text Наличными при получении
						ul.pay_cards
							li.pay_card
								img(src="img/visa.png", alt="visa-logo").pay_card-img.pay_card-img--desktop
								img(src="img/visa-mob.png", alt="visa-logo").pay_card-img.pay_card-img--mobile
							li.pay_card
								img(src="img/mastercard.svg", alt="mastercard-logo").pay_card-img.pay_card-img--svg
							li.pay_card
								img(src="img/maestro.png", alt="maestro-logo").pay_card-img.pay_card-img--desktop
								img(src="img/maestro-mob.png", alt="maestro-logo").pay_card-img.pay_card-img--mobile
							li.pay_sberbank
								img(src="img/sberbank.svg", alt="sbarbank-logo").pay_sberbank-logo
							.pay_sberbank-text Обработку платежей осуществляет ПАО Сбербанк
					// /pay

	include blocks/footer.jade

block js
	script(src="js/jquery-3.2.1.min.js")
	//- script(src="js/jquery.fancybox.min.js")
	script(src="js/slick.min.js")
	script(src="js/jquery.matchHeight-min.js")
	//- script(src="js/jquery.inputmask.bundle.min.js")
	//- script(src="js/autosize.min.js")
	//- script(src="js/tooltipster.bundle.min.js")
	//- script(src="js/jquery.mmenu.all.js")
	//- script(src="js/wow.min.js")
	//- script(src="js/fullpage.min.js")
	//- script(src="js/jquery.vide.min.js")
	script(src="js/jquery.scrollbar.min.js")
	//- <script src="http://api-maps.yandex.ru/2.1/?lang=ru_RU"></script>
	//- <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDArYzQvxn3CL3pB92Iqn9gaDltBFLfF4Y"></script>
	script(src="js/jquery.formstyler.min.js")
	script(src="js/script.js")