extends blocks/base.jade

block title 
	title Авточехлы - Главная

block content

	include blocks/header.jade
	
	.wrapper

		.main-sidebar

			.sidebar

				// factories
				.factories
					h1.factories_title Все фабрики чехлов на одном сайте
					ul.factories_list
						li.factories_item
							a(href="#").factories_icon
								img(src="img/autopilot.png", alt="logo")
						li.factories_item
							a(href="#").factories_icon
								img(src="img/psv.png", alt="logo")
						li.factories_item
							a(href="#").factories_icon
								img(src="img/seintex.png", alt="logo")
						li.factories_item
							a(href="#").factories_icon
								img(src="img/brotkers.png", alt="logo")
						li.factories_item
							a(href="#").factories_icon
								img(src="img/avtolider.png", alt="logo")
						li.factories_item
							a(href="#").factories_icon
								img(src="img/autoslon.png", alt="logo")
						li.factories_item
							a(href="#").factories_icon
								img(src="img/dinas.png", alt="logo")
						li.factories_item
							a(href="#").factories_icon
								img(src="img/pochin.png", alt="logo")
				// /factories

			.main

				.title.mobile-visible Выберите автомобиль

				include blocks/filter.jade

		// image-btn
		.image-btn
			.row
				.image-btn_col
					a(href="#").image-btn_item.data-img(data-img="img/cover-eco.jpg")
						.image-btn_title Модельные чехлы из экокожи
				.image-btn_col
					a(href="#").image-btn_item.data-img(data-img="img/cover-combo.jpg")
						.image-btn_title Модельные чехлы комбинированные
		// /image-btn

		// cards-slider
		.cards-slider

			.cards-slider_title
				.cards-slider_controll
					#cards-slider-prev.cards-slider_prev
						span.icon-keyboard_arrow_left
					#cards-slider-next.cards-slider_next
						span.icon-keyboard_arrow_right
				h2.title Вы смотрели

			#cards-slider.cards-slider_slider
	
				.cards-slider_slide
					// card
					.card
						.card_img.img-responsive
							a(href="#")
								img(src="img/catalog/eco3.jpg", alt="cover")
						.card_content
							p.card_text.js-match-height Модельные чехлы Audi A3 Sd/Hb 2012 - Жаккард Seintex 86825
							.card_presens.card_presens--orange
								span На заказ 14-21 день
							form(action="#").card_order
								.card_price
									span 6 290
									|  руб
								button(type="submit").card_btn.card_btn--orange Предзаказ
					// /card

				.cards-slider_slide
					// card
					.card
						.card_img.img-responsive
							a(href="#")
								img(src="img/catalog/eco3.jpg", alt="cover")
						.card_content
							p.card_text.js-match-height Модельные чехлы Audi A3 Sd/Hb 2012 - Жаккард Seintex 86825
							.card_presens.card_presens--green
								span В наличии
							form(action="#").card_order
								.card_price
									span 6 290
									|  руб
								button(type="submit").card_btn.card_btn--green Купить
					// /card

				.cards-slider_slide
					// card
					.card
						.card_img.img-responsive
							a(href="#")
								img(src="img/catalog/eco3.jpg", alt="cover")
						.card_content
							p.card_text.js-match-height Модельные чехлы Audi A3 Sd/Hb 2012 - Жаккард Seintex 86825
							.card_presens.card_presens--green
								span В наличии
							form(action="#").card_order
								.card_price
									span 6 290
									|  руб
								button(type="submit").card_btn.card_btn--green Купить
					// /card

				.cards-slider_slide
					// card
					.card
						.card_img.img-responsive
							a(href="#")
								img(src="img/catalog/eco3.jpg", alt="cover")
						.card_content
							p.card_text.js-match-height Модельные чехлы Audi A3 Sd/Hb 2012 - Жаккард Seintex 86825
							.card_presens.card_presens--green
								span В наличии
							form(action="#").card_order
								.card_price
									span 6 290
									|  руб
								button(type="submit").card_btn.card_btn--green Купить
					// /card

				.cards-slider_slide
					// card
					.card
						.card_img.img-responsive
							a(href="#")
								img(src="img/catalog/eco3.jpg", alt="cover")
						.card_content
							p.card_text.js-match-height Модельные чехлы Audi A3 Sd/Hb 2012 - Жаккард Seintex 86825
							.card_presens.card_presens--green
								span В наличии
							form(action="#").card_order
								.card_price
									span 6 290
									|  руб
								button(type="submit").card_btn.card_btn--green Купить
					// /card

				.cards-slider_slide
					// card
					.card
						.card_img.img-responsive
							a(href="#")
								img(src="img/catalog/eco3.jpg", alt="cover")
						.card_content
							p.card_text.js-match-height Модельные чехлы Audi A3 Sd/Hb 2012 - Жаккард Seintex 86825
							.card_presens.card_presens--green
								span В наличии
							form(action="#").card_order
								.card_price
									span 6 290
									|  руб
								button(type="submit").card_btn.card_btn--green Купить
					// /card

		// /cards-slider

		include blocks/bottom-blocks.jade

	include blocks/footer.jade

block js
	script(src="js/jquery-3.2.1.min.js")
	//- script(src="js/jquery.fancybox.min.js")
	script(src="js/slick.min.js")
	script(src="js/jquery.matchHeight-min.js")
	//- script(src="js/jquery.inputmask.bundle.min.js")
	//- script(src="js/autosize.min.js")
	//- script(src="js/tooltipster.bundle.min.js")
	//- script(src="js/jquery.mmenu.all.js")
	//- script(src="js/wow.min.js")
	//- script(src="js/fullpage.min.js")
	//- script(src="js/jquery.vide.min.js")
	script(src="js/jquery.scrollbar.min.js")
	//- <script src="http://api-maps.yandex.ru/2.1/?lang=ru_RU"></script>
	//- <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDArYzQvxn3CL3pB92Iqn9gaDltBFLfF4Y"></script>
	script(src="js/jquery.formstyler.min.js")
	script(src="js/script.js")