extends blocks/base.jade

block title 
	title Авточехлы - Оплата

block content

	include blocks/header.jade
	
	.wrapper

		.main-sidebar.mobile-hide

			.sidebar

				// sidebar-item
				.sidebar-item
					.sidebar-item_item
						img(src="img/car.svg", alt="car").sidebar-item_icon.sidebar-item_icon--car
						.sidebar-item_text Отправка на следующий день
					.sidebar-item_item
						img(src="img/hand.svg", alt="hand").sidebar-item_icon.sidebar-item_icon--hand
						.sidebar-item_text Цены производителя
				// /sidebar-item

			.main
				
				include blocks/filter.jade

		// payment
		.payment

			h1.title Способы оплаты

			h2.payment_title Наличными при получении заказа

			.payment_text
				p Кратко для каких типов доставки Кратко для каких типов доставки Кратко для каких типов доставки Кратко для каких типов доставки Кратко для каких типов доставки Кратко для каких типов доставки Кратко для каких типов доставки Кратко для каких типов доставки Кратко для каких типов доставки Кратко для каких типов доставки Кратко для каких типов доставки 

			h2.payment_title Банковской картой на сайте

			.payment_text
				p Кратко для каких типов доставки Кратко для каких типов доставки Кратко для каких типов доставки Кратко для каких типов доставки Кратко для каких типов доставки Кратко для каких типов доставки Кратко для каких типов доставки Кратко для каких типов доставки Кратко для каких типов доставки Кратко для каких типов доставки 
		// /payment

		.payment_cards

			.payment_left
				ul.pay_cards
					li.pay_card
						img(src="img/visa.svg", alt="visa").pay_card-img
					li.pay_card
						img(src="img/mastercard.svg", alt="mastercard").pay_card-img
					li.pay_card
						img(src="img/maestro.svg", alt="maestro").pay_card-img
					li.pay_sberbank
						img(src="img/sberbank.svg", alt="sbarbank").pay_sberbank-logo

			.payment_right
				p Кратко об онлайн-оплате (через Сбербанк, какие карты) Кратко об онлайн-оплате (через Сбербанк, какие карты) Кратко об онлайн-оплате (через Сбербанк, какие карты) Кратко об онлайн-оплате

		.title Вы смотрели

		// cards
		.cards.cards--mb

			.row

				.cards_col.cards_col--four-col
					// card
					.card
						.card_img.img-responsive
							a(href="#")
								img(src="img/catalog/eco3.jpg", alt="cover")
						.card_content
							p.card_text.js-match-height Модельные чехлы Audi A3 Sd/Hb 2012 - Жаккард Seintex 86825
							.card_presens.card_presens--orange
								span На заказ 14-21 день
							form(action="#").card_order
								.card_price
									span 6 290
									|  руб
								button(type="submit").card_btn.card_btn--orange Предзаказ
					// /card

				.cards_col.cards_col--four-col
					// card
					.card
						.card_img.img-responsive
							a(href="#")
								img(src="img/catalog/eco3.jpg", alt="cover")
						.card_content
							p.card_text.js-match-height Модельные чехлы Audi A3 Sd/Hb 2012 - Жаккард Seintex 86825
							.card_presens.card_presens--green
								span В наличии
							form(action="#").card_order
								.card_price
									span 6 290
									|  руб
								button(type="submit").card_btn.card_btn--green Купить
					// /card

				.cards_col.cards_col--four-col
					// card
					.card
						.card_img.img-responsive
							a(href="#")
								img(src="img/catalog/eco3.jpg", alt="cover")
						.card_content
							p.card_text.js-match-height Модельные чехлы Audi A3 Sd/Hb 2012 - Жаккард Seintex 86825
							.card_presens.card_presens--green
								span В наличии
							form(action="#").card_order
								.card_price
									span 6 290
									|  руб
								button(type="submit").card_btn.card_btn--green Купить
					// /card

				.cards_col.cards_col--four-col
					// card
					.card
						.card_img.img-responsive
							a(href="#")
								img(src="img/catalog/eco3.jpg", alt="cover")
						.card_content
							p.card_text.js-match-height Модельные чехлы Audi A3 Sd/Hb 2012 - Жаккард Seintex 86825
							.card_presens.card_presens--green
								span В наличии
							form(action="#").card_order
								.card_price
									span 6 290
									|  руб
								button(type="submit").card_btn.card_btn--green Купить
					// /card

		// /cards

		include blocks/bottom-blocks--pages.jade

	include blocks/footer.jade