.breadcrumbs {
	margin: 20px 0;
	font-size: 12px;
	color: $grayD;
	&_item {
		display: inline-block;
		margin-right: 10px;
	}
	a {
		color: $grayD;
		margin-right: 10px;
	}
	&_arrow {
		color: $red;
	}
}