.breadcrumbs {
	margin-bottom: 25px;
	font-size: 12px;
	letter-spacing: .1em;
	color: $grayD;
	&_item {
		display: inline-block;
		margin-right: 10px;
	}
	a {
		color: $grayD;
		margin-right: 10px;
		&:hover {
			color: $red;
		}
	}
	&_arrow {
		color: $red;
	}
	@media (max-width: $break_sm) {
		margin-bottom: 10px;
		font-size: 9px;
		&--item {
			margin-bottom: 20px;
		}
		&_item {
			margin-right: 5px;
		}
		a {
			margin-right: 5px;
		}
	}
}