.buy {
	max-width: 930px;
	margin-bottom: 2px;
	.title {
		margin-bottom: 50px;
	}
	.text {
		margin-bottom: 30px;
	}
	&_select {
		display: inline-block;
		margin-bottom: 55px;
		padding: 3px 0 1px;
		border: 1px solid $border;
		border-radius: 5px;
	}
	&_link {
		width: 30px;
		height: 30px;
		display: inline-block;
		padding-top: 3px;
		margin: 0 2px 2px 2px;
		color: $black;
		text-transform: uppercase;
		border: 1px solid transparent;
		border-radius: 5px;
		text-align: center;
		&:hover, &.active {
			border-color: $red;
			color: $red;
		}
	}
	&_body {
		overflow: hidden;
	}
	&_scroll {
		overflow-x: auto;
		padding-bottom: 30px;
		margin-bottom: -30px;
	}
	&_row {
		white-space: nowrap;
		position: relative;
	}
	&_list-title {
		margin-bottom: 17px;
		font-size: 30px;
		font-weight: 700;
		color: $red;
		text-transform: uppercase;
	}
	&_list {
		display: inline-block;
		width: 157px;
		margin-bottom: 55px;
		vertical-align: top;
	}
	&_item {
		margin-bottom: 18px;
	}
	&_city {
		font-size: 15px;
		color: $black;
		&:hover {
			color:$red;
		}
	}
	@media (max-width: $break_sm) {
		margin-top: 40px;
		.title {
			margin-bottom: 15px;
		}
		.text {
			margin-bottom: 45px;
			font-size: 13px;
		}
		&_select {
			padding: 7px 5px;
			margin-bottom: 25px;
			font-size: 11px;
		}
		&_link {
			width: 20px;
			height: 20px;
			padding-top: 1px;
			margin-bottom: 5px;
		}
		&_list {
			margin-bottom: 30px;
		}
	}
}