.card {
	max-width: 400px;
	margin-left: auto;
	margin-right: auto;
	padding: 20px;
	&_img {
		img {
			left: 50%;
			transform: translate(-50%,0);
		}
		&:after {
			padding-top: 121%;
		}
	}
	&_content {
		padding-top: 31px;
	}
	&_text {
		margin-bottom: 10px;
		line-height: 1.7;
	}
	&_presens {
		margin-bottom: 11px;
		font-size: 13px;
		color: #fff;
		span {
			padding: 0 5px;
			border-radius: 3px;
		}
		&--orange {
			span {
				background-color: $orange;
			}
		}
		&--green {
			span {
				background-color: $green;
			}
		}
	}
	&_order {
		
	}
	&_price {
		display: inline-block;
		padding-top: 7px;
		font-weight: 700;
		line-height: 1;
		span {
			font-size: 25px;
		}
	}
	&_btn {
		float: right;
		width: 100%;
		height: 42px;
		max-width: 136px;
		padding: 0 10px;
		border: none;
		border-radius: 5px;
		color: $black;
		transition: .15s;
		cursor: pointer;
		&--orange {
			background-color: #ffe9c4;
			&:hover {
				background-color: $orange;
				color: #fff;
			}
		}
		&--green {
			background-color: #e3f2e4;
			&:hover {
				background-color: $green;
				color: #fff;
			}
		}
	}
	@media (max-width: $break_sm) {
		&_text {
			font-size: 28px;
			line-height: 1.2;
		}
		&_presens {
			font-size: 22px;
		}
		&_price {
			display: block;
			margin-bottom: 30px;
			font-size: 28px;
			span {
				font-size: 40px;
			}
		}
		&_btn {
			float: none;
			height: 57px;
			max-width: 220px;
			font-size: 30px;
		}
	}
	@media (max-width: $break_xs) {
		&_text {
			font-size: 20px;
			line-height: 1.4;
		}
		&_presens {
			font-size: 16px;
		}
		&_price {
			font-size: 16px;
			span {
				font-size: 25px;
			}
		}
		&_btn {
			height: 40px;
			font-size: 16px;
		}
	}
}