.cards-slider {
	margin-bottom: 69px;
	overflow: hidden;
	&_title {
		
	}
	&_controll {
		float: right;
	}
	&_prev, &_next {
		float: left;
		padding: 3px 20px;
		border: 1px solid $border;
		font-size: 25px;
		color: $grayD;
		cursor: pointer;
		transition: .1s;
		&:hover {
			background-color: #eaecf0;
			color: $red;
		}
	}
	&_prev {
		border-radius: 5px 0 0 5px;
		border-right: none;
	}
	&_next {
		border-radius: 0 5px 5px 0;
	}
	&_slider {
		margin-left: -40px;
	}
	&_slide {

	}
	.card {
		padding: 10px 0 0 40px;
	}
	@media (max-width: $break_sm) {
		margin-bottom: 40px;
		&_controll {
			display: none;
		}
	}
}