.delivery {
	margin-bottom: 60px;
	.title {
		margin-bottom: 20px;
	}
	&_text {
		font-size: 18px;
		margin-bottom: 30px;
	}
	&_buttons {
		margin-bottom: 70px;
		border: 1px solid $border;
		border-radius: 5px;
		overflow: hidden;
		input {
			display: none;
			&:checked {
				+ label {
					background-color: $gray;
					color: $black;
				}
			}
		}
	}
	&_btn {
		display: block;
		float: left;
		width: 50%;
		padding: 15px 10px;
		font-size: 18px;
		color: $black;
		text-align: center;
		transition: .15s;
		&:hover {
			background-color: $red;
			color: #fff;
		}
		span {
			display: block;
			font-size: 12px;
		}
		&--span {
			float: left;
			width: 33.33%;
			padding: 6px 10px;
		}
		&:not(:last-child) {
			border-right: 1px solid $border;
		}
		&:last-child {
			float: right;
		}
	}
	&_row {
		@include row();
	}
	&_col {
		@include col(6);
		@include col-sm(12);
	}
	@media (max-width: $break_sm) {
		margin-top: 40px;
		margin-bottom: 0;
		.title {
			margin-bottom: 15px;
		}
		&_text {
			margin-bottom: 20px;
			font-size: 13px;
			&--big-mobile {
				font-size: 20px;
				font-weight: 700;
			}
		}
		&_buttons {
			margin-bottom: 30px;
			input {
				&:checked {
					+ label {
						background-color: $red;
						color: #fff;
					}
				}
			}
			&--border-red-mob {
				border-color: $red;
				.delivery_btn {
					&:not(:last-child) {
						border-color: $red;
					}
				}
			}
		}
		&_btn {
			padding: 10px 10px;
			font-size: 15px;
			span {
				margin-top: 5px;
				font-size: 9px;
			}
			&--span {
				padding: 7px;
				line-height: 1;
			}
		}
	}
}