.filter-checkbox {
	margin-bottom: 80px;
	font-size: 18px;
	&_list {

	}
	&_item {
		margin-bottom: 20px;
		padding-left: 30px;
		position: relative;
		vertical-align: top;
	}
	&_input {
		display: none;
		&:checked {
			+ .filter-checkbox_label {
				color: $red;
				.filter-checkbox_checkbox {
					&:after {
						background-color: $red;
					}
				}
			}
		}
	}
	&_checkbox {
		display: inline-block;
		width: 20px;
		height: 20px;
		border: 1px solid $border;
		border-radius: 3px;
		position: relative;
		vertical-align: middle;
		position: absolute;
		top: 3px;
		left: 0;
		&:after {
			content: '';
			display: block;
			width: 12px;
			height: 12px;
			border-radius: 2px;
			position: absolute;
			top: 3px;
			left: 3px;
			transition: .05s;
		}
	}
	&_label {
		cursor: pointer;
		user-select: none;
		&:hover {
			color: $red;
			> .filter-checkbox_checkbox {
				&:after {
					background-color: #c8c8c8;
				}
			}
		}
	}
	@media (max-width: $break_md) {
		&_item {
			display: inline-block;
			width: 32%;
		}
	}
	@media (max-width: $break_sm) {
		margin-bottom: 20px;
		font-size: 15px;
		&_item {
			width: 49%;
			display: inline-block;
			padding-left: 30px;
			margin-bottom: 25px;
		}
		&_checkbox {
			width: 16px;
			height: 16px;
			border-radius: 3px;
			top: 3px;
			&:after {
				width: 10px;
				height: 10px;
				top: 2px;
				left: 2px;
				border-radius: 2px;
			}
		}
		&_label {
			margin-right: 30px;
		}
	}
}