.filter {
	padding: 18px 18px 0;
	box-shadow: 0 0 25px rgba(0, 0, 0, 0.05);
	border-radius: 5px;
	position: relative;
	&_title-mob {
		display: none;
	}
	&_selects {
		margin-bottom: 24px;
	}
	&_select {
		display: inline-block;
		width: 100%;
		max-width: 166px;
		margin-right: 10px;
		margin-bottom: 18px;
		user-select: none;
	}
	&_trigger {
		padding: 10px 25px 10px 14px;
		border: 1px solid $border;
		border-radius: 5px;
		cursor: pointer;
		transition: .15s;
		position: relative;
		&:hover, &.active {
			border-color: $red;
			color: $red;
			>.filter_arrow {
				color: $red;
			}
		}
	}
	&_arrow {
		font-size: 25px;
		position: absolute;
		top: 9px;
		right: 5px;
		color: $grayD;
		transition: .15s;
	}
	.btn {
		width: 100%;
		max-width: 170px;
	}
	&_body {
		padding-bottom: 18px;
	}
	&_title {
		margin-bottom: 22px;
		font-size: 30px;
	}
	&_content {
		
	}
	&_item {
		display: inline-block;
		width: 210px;
		margin-bottom: 3px;
		&--mb {
			margin-bottom: 15px;
		}
		&--config {
			width: 100%;
			margin-bottom: 15px;
		}
	}
	&_link {
		color: $black;
		transition: .05s;
		&:hover {
			color: $red;
		}
	}
	&_img {
		width: 50px;
		height: 40px;
		display: inline-block;
		vertical-align: middle;
		margin-right: 20px;
		position: relative;
		img {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%,-50%);
		}
	}
	&_text {
		vertical-align: middle;
	}
	&_row {
		margin-left: -13px;
		padding-right: 40px;
		&:after {
			content: '';
			display: table;
			clear: both;
			width: 100%;
		}
	}
	&_col {
		width: 25%;
		padding-left: 13px;
		padding-bottom: 13px;
		float: left;
	}
	&_generation-link {
		display: block;
		color: $black;
		transition: .15s;
		background-color: $gray;
		border-radius: 5px;
		&:hover {
			background-color: $red;
			color: #fff;
		}
	}
	&_generation-img {
		border-radius: 5px;
		&:after {
			padding-top: 75%;
		}
		img {
			width: 100%;
		}
	}
	&_generation-text {
		display: block;
		padding: 10px 13px;
	}
	@media (max-width: $break_sm) {
		box-shadow: none;
		padding: 0;
		&_body {
			display: none;
		}
		&_select {
			max-width: none;
			font-size: 30px;
			position: relative;
		}
		&_arrow {
			font-size: 50px;
			top: 18px;
		}
		&_trigger {
			padding: 23px 25px 23px 14px;
			border-radius: 10px;
		}
		.btn {
			height: 112px;
			margin-top: 10px;
			max-width: none;
			font-size: 30px;
			border-radius: 10px;
		}
	}
	@media (max-width: $break_xs) {
		&_select {
			font-size: 20px;
		}
		&_trigger {
			padding: 15px 25px 15px 14px;
			border-radius: 10px;
		}
		&_arrow {
			font-size: 30px;
			top: 15px;
		}
		.btn {
			height: 70px;
			max-width: none;
			font-size: 20px;
			border-radius: 10px;
		}
	}
}
.dropdown {
	display: none;
	padding-top: 18px;
	transition: 1s;
	position: absolute;
	z-index: 2;
	&.open {
		display: block;
	}
	&--maw {
		width: 1000%;
		max-width: 240px;
	}
	&_list {
		padding: 10px 20px 10px 14px;
		background-color: #fff;
		border-radius: 5px;
		box-shadow: 0 0 25px rgba(0, 0, 0, 0.05);
	}
	&_item {
		margin-bottom: 18px;
	}
	&_link {
		color: $black;
		transition: .05s;
		position: relative;
		&:hover {
			color: $red;
			.dropdown_reset {
				&:after, &:before {
					background-color: $red;
				}
			}
		}
		&--reset {
			padding-left: 50px;
		}
	}
	&_reset {
		display: block;
		width: 20px;
		height: 20px;
		position: absolute;
		top: 50%;
		left: 0;
		transform: translate(0,-50%);
		&:after, &:before {
			content: '';
			display: block;
			width: 100%;
			height:1px;
			background-color: $black;
			position: absolute;
			top: 9px;
			left: 0px;
		}
		&:after {
			transform: rotate(45deg);
		}
		&:before {
			transform: rotate(-45deg);
		}
	}
	&_row {
		margin-left: -10px;
		padding-right: 20px;
		&:after {
			content: '';
			display: table;
			clear: both;
			width: 100%;
		}
	}
	&_col {
		float: left;
		width: 33.33%;
		padding-left: 10px;
		padding-bottom: 10px;
		font-size: 12px;
	}
	@media (max-width: $break_sm) {
		&--maw {
			width: 100%;
			max-width: none;
		}
	}
	&_list {
		padding: 10px 50px 10px 14px;
	}
	@media (max-width: $break_xs) {
		&_list {
			padding: 10px 20px 10px 14px;
		}
		&_col {
			width: 100%;
		}
	}
}