.filter {
	padding: 18px 18px 0;
	margin-bottom: 60px;
	box-shadow: 0 0 25px rgba(0, 0, 0, 0.05);
	border-radius: 5px;
	position: relative;
	&_title-mob {
		display: none;
	}
	&_selects {
		margin-bottom: 24px;
	}
	&_select {
		display: inline-block;
		width: 100%;
		width: 166px;
		margin-right: 10px;
		margin-bottom: 18px;
		user-select: none;
	}
	&_trigger {
		height: 40px;
		padding: 7px 25px 0 14px;
		border: 1px solid $border;
		overflow: hidden;
		border-radius: 5px;
		cursor: pointer;
		transition: .15s;
		position: relative;
		&:hover, &.active {
			border-color: $red;
			color: $red;
			>.filter_arrow {
				color: $red;
			}
		}
		span {
			display: block;
			height: 20px;
			overflow: hidden;
		}
	}
	&_arrow {
		font-size: 25px;
		position: absolute;
		top: 7px;
		right: 5px;
		color: $grayD;
		transition: .15s;
	}
	.btn {
		width: 100%;
		max-width: 170px;
		vertical-align: top;
		&--red {
			&:hover {
				background-color: #fb4646;
			}
		}
	}
	&_body {
		padding-bottom: 18px;
		margin-right: -18px;
		.hide {
			display: none;
		}
	}
	&_content {
		margin-left: -50px;
	}
	&_item {
		display: inline-block;
		width: 180px;
		margin-left: 50px;
		margin-bottom: 3px;
		vertical-align: top;
		&--mb {
			margin-bottom: 15px;
		}
		&--config {
			width: 100%;
			margin-bottom: 15px;
		}
	}
	&_link {
		color: $black;
		transition: .05s;
		&:hover {
			color: $red;
		}
		&.active {
			color: $red;
		}
	}
	&_img {
		width: 50px;
		height: 40px;
		display: inline-block;
		vertical-align: middle;
		margin-right: 20px;
		position: relative;
		img {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%,-50%);
		}
	}
	&_text {
		vertical-align: middle;
	}
	&_row {
		margin-left: -13px;
		padding-right: 30px;
		&:after {
			content: '';
			display: table;
			clear: both;
			width: 100%;
		}
	}
	&_col {
		width: 25%;
		padding-left: 13px;
		padding-bottom: 13px;
		float: left;
	}
	&_generation-link {
		display: block;
		color: $black;
		transition: .15s;
		background-color: $gray;
		border-radius: 5px;
		&:hover {
			background-color: $red;
			color: #fff;
		}
		&.active {
			background-color: $red;
			color: #fff;
		}
	}
	&_generation-img {
		display: block;
		border-radius: 5px;
		&:after {
			padding-top: 75%;
		}
		img {
			width: 100%;
		}
	}
	&_generation-text {
		display: block;
		padding: 10px 13px;
	}
	@media (max-width: $break_sm) {
		box-shadow: none;
		padding: 0;
		margin-bottom: 0;
		&_body {
			display: none;
		}
		&_selects {
			margin-bottom: 0;
		}
		&_select {
			width: 100%;
			margin-bottom: 14px;
			font-size: 15px;
			position: relative;
		}
		&_arrow {
			font-size: 28px;
			top: 8px;
		}
		&_trigger {
			height: 47px;
			padding: 10px 30px 0 14px;
			span {
				height: 20px;
			}
		}
		.btn {
			height: 56px;
			max-width: none;
			font-size: 15px;
		}
	}
}


.dropdown {
	display: none;
	margin-top: 18px;
	box-shadow: 0 0 25px rgba(0, 0, 0, 0.05);
	border-radius: 5px;
	background-color: #fff;
	transition: 1s;
	position: absolute;
	z-index: 3;
	&.open {
		display: block;
	}
	&--maw {
		width: 1000%;
		max-width: 240px;
	}
	&_list {
		padding: 10px 20px 10px 14px;
		border-radius: 5px;
		&--generation {
			padding: 14px 20px 14px 14px;
		}
	}
	&_item {
		margin-bottom: 18px;
		vertical-align: top;
		input {
			display: none;
		}
		&--inline {
			display: inline-block;
			width: 49%;
		}
	}
	&_link {
		color: $black;
		transition: .05s;
		position: relative;
		cursor: pointer;
		user-select: none;
		&:hover {
			color: $red;
			.dropdown_reset {
				&:after, &:before {
					background-color: $red;
				}
			}
		}
		&.active {
			color: $red;
		}
		&--reset {
			padding-left: 50px;
		}
	}
	&_reset {
		display: block;
		width: 20px;
		height: 20px;
		position: absolute;
		top: 50%;
		left: 0;
		transform: translate(0,-50%);
		&:after, &:before {
			content: '';
			display: block;
			width: 100%;
			height:1px;
			background-color: $black;
			position: absolute;
			top: 9px;
			left: 0px;
		}
		&:after {
			transform: rotate(45deg);
		}
		&:before {
			transform: rotate(-45deg);
		}
	}
	&_row {
		margin-left: -10px;
		padding-right: 5px;
		&:after {
			content: '';
			display: table;
			clear: both;
			width: 100%;
		}
	}
	&_col {
		float: left;
		width: 33.33%;
		padding-left: 10px;
		padding-bottom: 10px;
		font-size: 12px;
		input {
			display: none;
		}
		&--big-text {
			font-size: 16px;
		}
	}
	@media (max-width: $break_sm) {
		width: 100%;
		margin-top: 10px;
		&--maw {
			width: 100%;
			max-width: none;
		}
		&_list {
			padding: 5px 14px 0px;
			&--generation {
				padding: 14px 14px 4px;
			}
		}
		&_item {
			margin-bottom: 0;
		}
		&_link {
			display: block;
			padding-top: 15px;
			padding-bottom: 15px;
			&--reset {
				padding-left: 30px;
			}
		}
		&_reset {
			width: 17px;
			height: 17px;
			&:after, &:before {
				top: 8px;
				height: 1px;
			}
		}
		&_row {
			padding-right: 0;
		}
		&_col {
			width: 50%;
		}
	}
}


.filters-btn {
	display: inline-block;
	height: 47px;
	padding: 9px 25px 0 10px;
	border: 1px solid $border;
	border-radius: 5px;
	font-size: 15px;
	color: $black;
	&_img {
		width: 16px;
		margin-right: 10px;
		stroke: $black;
		vertical-align: middle;
	}
	@media (max-width: $break_sm) {
		display: block;
	}
}