.footer {
	padding-top: 80px;
	&_top {
		padding: 130px 0 20px;
		border-top: 1px solid $border;
	}
	&_col {
		@include col(2.4);
		@include col-md(4);
		@include col-sm(6);
		&--1 {
			@include col(2.2);
			@include col-md(4);
			@include col-sm(6);
		}
		&--2 {
			@include col(2.5);
			@include col-md(4);
			@include col-sm(6);
		}
		&--3 {
			@include col(2.8);
			@include col-md(4);
			@include col-sm(6);
		}
		&--4 {
			
		}
		&--5 {
			@include col(2);
			@include col-md(4);
		}
	}
	&_nav {
		font-size: 14px;
	}
	&_item {
		margin-bottom: 20px;
	}
	&_link {
		color: $black;
		&:hover {
			color: $red;
		}
	}
	&_rectangle {
		min-height: 120px;
		background-color: $gray;
	}
	&_logo {
		float: right;
	}
	&_logo-mobile {
		display: none;
	}
	&_bottom {
		padding: 45px 0;
		background-color: $gray;
		font-size: 14px;
		color: $grayD;
		.wrapper {
			position: relative;
			padding-right: 60px;
		}
		&_col {
			@include col(2.4);
			@include col-sm(12);
		}
		&_col-big {
			@include col(7.2);
			@include col-sm(12);
		}
	}
	&_linkb {
		padding-bottom: 5px;
		color: $grayD;
		border-bottom: 1px solid transparent;
		&:hover {
			border-color: #b3b3b3
		}
	}
	@media (max-width: $break_md) {
		padding-top: 30px;
		&_top {
			padding: 80px 0 20px;
		}
		&_nav {
			display: none;
		}
	}
	@media (max-width: $break_sm) {
		padding: 0;
		&_top {
			padding: 40px 0 10px;
		}
		&_bottom {
			padding: 20px 0 30px;
			font-size: 22px;
		}
		.row {
			margin-left: -15px;
		}
		&_col {
			padding-left: 15px;
		}
		&_bottom_col {
			padding-left: 15px;
			margin-bottom: 20px;
			font-size: 12px;
		}
		&_bottom_col-big {
			font-size: 12px;
			padding-left: 15px;
		}
		&_rectangle {
			min-height: 80px;
		}
		&_linkb {
			font-size: 11px;
		}
		&_wings {
			top: auto;
			right: 18px;
			bottom: -10px;
			transform: translate(0,0);
			svg {
				width: 16px;
				height: 25px;
			}
		}
		&_logo-mobile {
			display: block;
			position: absolute;
			top: 0;
			right: 18px;
			svg {
				width: 80px;
				height: 30px;
			}
		}
	}
}


.wings {
	position: absolute;
	top: 50%;
	right: 40px;
	transform: translate(0,-50%);
	@media (max-width: $break_sm) {
		top: auto;
	}
}