.install {
	max-width: 780px;
	&--mb {
		margin-bottom: 55px;
	}
	.text {
		padding: 15px 0 25px;
	}
	&_col {
		@include col(6);
		@include col-sm(12);
		margin-bottom: $gutter;
	}
	&_item {
		display: block;
		min-height: 130px;
		padding: 18px 18px 25px 141px;
		border: 1px solid $border;
		border-radius: 5px;
		font-size: 18px;
		color: $black;
		position: relative;
		&--2 {
			.install_img {
				left: 40px;
			}
		}
		&:hover {
			background-color: $red;
			border-color: $red;
			color: #fff;
			.install_img {
				stroke: #fff;
				fill: #fff;
			}
		}
	}
	&_img {
		position: absolute;
		top: 50%;
		left: 28px;
		transform: translate(0,-50%);
		stroke: $red;
		fill: $red;
		transition: .15s;
	}
	&_content {
		
	}
	&_text {
		margin-bottom: 15px;
	}
	&_price {
		font-weight: 600;
	}
	@media (max-width: $break_md) {
		max-width: none;
	}
	@media (max-width: $break_sm) {
		margin-bottom: 12px;
		&_col {
			margin-bottom: 11px;
		}
		&_item {
			min-height: 112px;
			padding: 14px 10px 10px 120px;
		}
		&_img {
			transform: translate(0,-50%) scale(.8);
			&--house {
				width: auto;
				height: auto;
			}
			&--seat {
				width: auto;
				height: auto;
			}
			&--car {
				width: auto;
				height: auto;
			}
			&--car-end-seat {
				width: auto;
				height: auto;
				transform: translate(-10%,-50%) scale(.8);
			}
		}
		&_content {
			font-size: 15px;
		}
		.text {
			padding: 0;
			line-height: 1.2;
			margin-bottom: 30px;
		}
	}
}