.install {
	.text {
		padding: 15px 0 25px;
	}
	&_col {
		@include col(6);
		@include col-sm(12);
		margin-bottom: $gutter;
	}
	&_item {
		display: block;
		min-height: 130px;
		padding: 18px 18px 25px 141px;
		border: 1px solid $border;
		border-radius: 5px;
		font-size: 18px;
		color: $black;
		position: relative;
		&--2 {
			.install_img {
				left: 40px;
			}
		}
		&:hover {
			background-color: $red;
			color: #fff;
			.install_img {
				stroke: #fff;
				fill: #fff;
			}
		}
	}
	&_img {
		position: absolute;
		top: 50%;
		left: 28px;
		transform: translate(0,-50%);
		stroke: $red;
		fill: $red;
		transition: .15s;
	}
	&_content {
		
	}
	&_text {
		margin-bottom: 15px;
	}
	&_price {
		font-weight: 600;
	}
	@media (max-width: $break_sm) {
		&_item {
			padding: 60px 18px 60px 230px;
		}
		&_img {
			&--house {
				width: 113px;
				height: 97px;
			}
			&--seat {
				width: 86px;
				height: 121px;
			}
			&--car {
				width: 132px;
				height: 70px;
			}
			&--car-end-seat {
				width: 162px;
				height: 82px;
			}
		}
		.text {
			font-size: 30px;
		}
		&_content {
			font-size: 28px;
		}
	}
	@media (max-width: $break_xs) {
		&_item {
			padding: 18px 18px 25px 141px;
		}
		&_img {
			&--house {
				width: auto;
				height: auto;
			}
			&--seat {
				width: auto;
				height: auto;
			}
			&--car {
				width: auto;
				height: auto;
			}
			&--car-end-seat {
				width: auto;
				height: auto;
			}
		}
		.text {
			font-size: 16px;
		}
		&_content {
			font-size: 16px;
		}	
	}
}