.item-form {
	position: relative;
	&_text {
		font-size: 15px;
		color: $grayD;
		margin-bottom: 10px;
		&--mb {
			margin-bottom: 18px;
		}
		&--pt {
			padding-top: 4px;
		}
	}
	&_materials {
		float: left;
		margin-right: 30px;
		margin-bottom: 20px;
		width: 100%;
		max-width: 250px;
	}
	&_colors {
		float: left;
		width: 60px;
		margin-bottom: 20px;
	}
	&_select {
		width: 100%;
		border: 1px solid $border;
		border-radius: 5px;
	}
	&_trigger {
		height: 40px;
		padding: 7px 25px 0 14px;
		position: relative;
		cursor: pointer;
		user-select: none;
		&:hover, &.active, &.select {
			color: $red;
			.item-form_arrow {
				color: $red;
			}
		}
		&--colors {
			padding: 5px;
		}
		span {
			display: block;
	    height: 20px;
	    overflow: hidden;
		}
		img {
			display: block;
			width: 100%;
			height: 100%;
			border-radius: 3px;
		}
	}
	&_arrow {
		position: absolute;
		top: 8px;
		right: 5px;
		font-size: 25px;
		color: $grayD;
	}
	&_price {
		float: left;
		margin-right: 23px;
		font-weight: 700;
		vertical-align: bottom;
		span {
			font-size: 40px;
		}
	}
	.btn {
		float: left;
		width: 100%;
		height: 50px;
		margin-right: 35px;
		max-width: 240px;
		font-size: 18px;
		&:hover {
			background-color: #28c646;
		}
	}
	@media (max-width: $break_sm) {
		&_text {
			font-size: 11px;
			margin-bottom: 20px;
		}
		&_materials {
			max-width: none;
			width: calc(100% - 83px);
			margin-right: 13px;
			margin-bottom: 0;
		}
		&_colors {
			float: right;
			width: 70px;
			margin-bottom: 0;
		}
		&_trigger {
			height: 47px;
			padding: 12px 30px 0 15px;
			font-size: 15px;
			span {
				height: 20px;
			}
			&--colors {
				padding: 5px 5px;
			}
		}
		&_arrow {
			font-size: 30px;
			top: 10px;
		}
		&_price {
			font-size: 17px;
			span {
				font-size: 37px;
			}
		}
		.btn {
			float: none;
			display: block;
			max-width: 242px;
			height: 47px;
			margin-bottom: 10px;
			margin-top: -12px;
			font-size: 15px;
			font-weight: 900;
		}
	}
}


.item-dropdown {
	display: none;
	padding: 15px 15px 5px;
	margin-top: 16px;
	margin-right: 20px;
	background-color: #fff;
	box-shadow: 0 0 25px rgba(0, 0, 0, 0.05);
	border-radius: 5px;
	position: absolute;
	left: 0;
	right: 0;
	z-index: 2;
	&.open {
		display: block;
	}
	&_row {
		
	}
	&_item {
		display: inline-block;
		width: 49%;
		margin-bottom: 10px;
		vertical-align: top;
		input {
			display: none;
			&:checked {
				+ label {
					border-color: $border;
					&:after {
						display: block;
					}
				}
			}
		}
		img {
			display: block;
		}
		&--colors {
			width: auto;
			margin-right: 3px;
			position: relative;
			label {
				border: 1px solid transparent;
				border-radius: 5px;
				&:after {
					font-family: "icomoon";
					content: '\1f300';
					display: none;
					position: absolute;
					font-size: 24px;
					top: 50%;
					left: 50%;
					transform: translate(-50%,-50%);
					color: #fff;
				}
				&:hover {
					border-color: $border;
				}
			}
		}
	}
	&_label {
		display: block;
		padding: 5px;
		cursor: pointer;
		user-select: none;
		&:hover, &.active {
			color: $red;
		}
		img {
			width: 100%;
			height: 100%;
		}
	}
	@media (max-width: $break_md) {
		margin-right: 0;
	}
	@media (max-width: $break_sm) {
		margin-top: 10px;
		padding: 10px 10px 15px;
		font-size: 15px;
		&_row {
			margin-left: -17px;
		}
		&_item {
			margin-bottom: 15px;
			&--colors {
				margin-right: 0;
				margin-left: 17px;
				label {
					&:after {
						font-size: 20px;
					}
				}
			}
		}
		&_label {
			&--colors {
				width: 44px;
				height: 29px;
				padding: 3px;
			}
		}
	}
}