.item-tabs {
	margin-bottom: 50px;
	&_triggers {
		margin-bottom: 50px;
		border: 1px solid $border;
		border-radius: 5px;
		position: relative;
	}
	&_triggers-item {
		display: inline-block;
		&:not(:last-child) {
			border-right: 1px solid $border;
		}
	}
	&_trigger {
		display: block;
		padding: 10px;
		color: $black;
		cursor: pointer;
		user-select: none;
		font-weight: 600;
		&:hover {
			color: $red;
		}
		&.active {

		}
	}
	&_dropdown {
		display: none;
		padding-top: 50px;
		position: absolute;
		left: 0;
		right: 0;
		top: 100%;
		&.open {
			display: block;
		}
	}
	&_content {
		&:after {
			content: '';
			display: table;
			clear: both;
			width: 100%;
		}
	}
	&_list {
		display: inline-block;
		width: 49%;
		padding-right: 50px;
	}
	&_item {
		margin-bottom: 10px;
		position: relative;
		&:after {
			content: '';
			display: table;
			clear: both;
			width: 100%;
		}
		&:before {
			content: '';
			display: block;
			border-bottom: 2px dotted $grayD;
			width: 100%;
			position: absolute;
			bottom: 5px;
		}
	}
	&_name {
		display: block;
		padding-right: 2px;
		float: left;
		text-align: left;
		color: $grayD;
		background-color: #fff;
		position: relative;
		z-index: 2;
	}
	&_val {
		display: block;
		padding-left: 2px;
		float: right;
		background-color: #fff;
		position: relative;
		z-index: 2;
	}
	&_install {
		@include col(6);
		@include col-sm(12);
	}
	&_img {
		display: block;
		margin-bottom: 20px;
		background-color: $gray;
		&:after {
			padding-top: 60%;
		}
		&--middle {
			&:after {
				padding-top: 80%;
			}
		}
		&--big {
			&:after {
				padding-top: 120%;
			}
		}
	}
	&_link {
		color: $black;
		border-bottom: 1px solid $black;
	}
	&_photo {
		@include col(4);
		@include col-sm(6);
	}
	&_title {
		margin-bottom: 30px;
		font-size: 30px;
		text-align: left;
	}
	&_text {
		&:not(:last-child) {
			margin-bottom: 50px;	
		}
		p {
			margin-bottom: 20px;
		}
	}
	@media (max-width: $break_lg) {
		&_triggers-item {
			text-align: left;
			width: 100%;
			&:not(:last-child) {
				border-right: none;
				border-bottom: 	1px solid $border;
			}
		}
		&_trigger {
			position: relative;
			padding: 10px 40px 10px 10px;
			position: relative;
			&:after {
				font-family: "icomoon";
				content: '\1f300';
				display: block;
				color: $grayD;
				position: absolute;
				font-size: 23px;
				right: 10px;
				top: 50%;
				transform: translate(0,-50%);
			}
		}
		&_dropdown {
			padding: 20px 10px;
			position: relative;
			border-top: 1px solid $border;
		}
		.title {
			display: none;
		}
	}
	@media (max-width: $break_sm) {
		margin-bottom: 30px;
		&_title {
			margin-bottom: 10px;
			font-size: 15px;
		}
		&_text {
			font-size: 13px;
			line-height: 1.3;
			&:not(:last-child) {
				margin-bottom: 30px;
			}
		}
		&_triggers {
			margin-bottom: 0;
		}
		&_trigger {
			padding: 12px 70px 12px 15px;
			font-size: 15px;
		}
		&_dropdown {
			padding: 20px 15px;
			font-size: 14px;
		}
		&_list {
			width: 100%;
			padding-right: 0;
		}
		&_link {
			display: inline-block;
		}
		&_item {
			&:before {
				border-width: 2px;
				bottom: 3px;
			}
		}
		&_name {
			padding-right: 10px;
		}
		&_val {
			padding-left: 10px;
		}
		&_img {
			&:after {
				padding-top: 64%;
			}
			&--middle {
				&:after {
					padding-top: 84%;
				}
			}
			&--big {
				&:after {
					padding-top: 120%;
				}
			}
		}
		&_link {
			margin-bottom: 25px;
		}
		.show-more {
			text-align: center;
			margin-bottom: 0;
		}
	}
}