.item-images {
	margin-bottom: 20px;
	&:after {
		content: '';
		display: table;
		clear: both;
		width: 100%;
	}
	&_slider1 {
		float: left;
		width: 80px;
	}
	&_dot {
		img {
			opacity: .5;
			transition: .15s;
			cursor: pointer;
		}
		&.slick-current {
			img {
				opacity: 1;
			}
		}
		&:hover {
			img {
				opacity: 1;
			}
		}
	}
	&_img-dot {
		width: 80px;
		margin-bottom: 20px;
		&:after {
			padding-top: 100%;
		}
	}
	&_slider2 {
		margin-left: 100px;
	}
	&_slide {

	}
	&_controll {
		text-align: center;
		font-size: 45px;
		cursor: pointer;
		transition: .15s;
		svg {
			stroke: $gray;
			transition: .15s;
		}
		&:hover {
			svg {
				stroke: $grayD;
			}
		}
	}
	&_prev {
		padding-bottom: 15px;
	}
	&_next {
		transform: rotate(180deg);
	}
	@media (max-width: $break_md) {
		&_slider2 {
			margin-left: 0;
		}
		&_slide {
			img {
				margin-left: auto;
				margin-right: auto;
			}
		}
		margin-bottom: 70px;
		.slick-dots {
			margin-top: 50px;
			text-align: center;
			li {
				display: inline-block;
				&.slick-active {
					button {
						background-color: $red;
						border-color: $red;
					}
				}
			}
			button {
				width: 17px;
				height: 17px;
				margin: 0 5px;
				background-color: #fff;
				border-radius: 50%;
				border: 1px solid $border;
				font-size: 0;
			}
		}
	}
	@media (max-width: $break_sm) {
		margin-bottom: 30px;
		&_slide {
			img {
				max-width: 270px;
				margin-left: auto;
				margin-right: auto;
			}
		}
		.slick-dots {
			margin-top: 13px;
			button {
				width: 9px;
				height: 9px;
				margin: 0 10px;
			}
		}
	}
}
