.item-map {
	position: relative;
	&_map {
		height: 260px;
	}
	@media (max-width: $break_sm) {
		&_dropdown {
			display: none;
			width: 100%;
			background-color: #fff;
			position: absolute;
			top: 0;
			left: 0;
			&.open {
				display: block;
			}
		}
		&_map {
			height: 190px;
		}
	}
}