.main-sidebar {
	margin: 25px 0;
	&:after {
		content: '';
		display: table;
		clear: both;
		width: 100%;
	}
}
.main {
	margin-right: 270px;
	&--maw-780 {
		max-width: 780px;
	}
	@media (max-width: $break_md) {
		margin-right: 0;
		&--maw-780 {
			max-width: none;
		}
	}
}
.sidebar {
	float: right;
	width: 250px;
	@media (max-width: $break_md) {
		width: 100%;
	}
}
.sideb {
	padding: 20px;
	border: 1px solid $border;
	border-radius: 5px;
	@media (max-width: $break_md) {
		margin-bottom: 30px;
	}
}