.main-sidebar {
	margin: 25px 0;
	&:after {
		content: '';
		display: table;
		clear: both;
		width: 100%;
	}
	@media (max-width: $break_sm) {
		margin: 16px 0;
	}
}


.main {
	margin-right: 270px;
	&--maw-780 {
		max-width: 780px;
	}
	&--overflow {
		overflow: hidden;
		padding-right: 25px;
	}
	@media (max-width: $break_md) {
		margin-right: 0;
		&--maw-780 {
			max-width: none;
		}
		&--overflow {
			padding-right: 0;
		}
	}
}


.sidebar {
	float: right;
	width: 250px;
	&--w500 {
		width: 500px;
	}
	@media (max-width: $break_md) {
		width: 100%;
		float: none;
		&--filters {
			display: none;
			position: relative;
			&.open {
				display: block;
			}
		}
		&--w500 {
			width: 100%;
		}
	}
}


.sideb {
	padding: 20px;
	border: 1px solid $border;
	border-radius: 5px;
	&--item {

	}
	@media (max-width: $break_md) {
		margin-bottom: 20px;
		&--item {
			padding: 10px 0 0;
			border: none;
			margin-bottom: 10px;
		}
	}
}