.pay {
	&_list {

	}
	&_item {
		min-height: 44px;
		margin-bottom: 25px;
		padding-left: 63px;
		position: relative;
	}
	&_img {
		position: absolute;
		top: 50%;
		left: 0;
		transform: translate(0,-50%);
		fill: $red;
		stroke: $red;
	}
	&_text {
		
	}
	&_cards {
		font-size: 14px;
	}
	&_card {
		display: inline-block;
		width: 50px;
		height: 40px;
		margin-right: 14px;
		margin-bottom: 40px;
		position: relative;
		&--big {
			width: 60px;
		}
	}
	&_card-img {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%,-50%);
	}
	&_sberbank {
		display: inline-block;
		vertical-align: top;
		margin-top: 7px;
	}
	&_sberbank-logo {

	}
	&_sberbank-text {
		font-size: 12px;
	}
	@media (max-width: $break_md) {
		&_item {
			min-height: auto;
			padding: 15px 0px 23px 63px;
			margin-bottom: 0;
		}
	}
	@media (max-width: $break_sm) {
		font-size: 14px;
		&_item {
			padding: 10px 0px 18px 48px;
		}
		&_img {
			width: 40px;
			height: 30px;
		}
		&_cards {
			margin-top: 10px;
		}
		&_card {
			width: 50px;
			height: 30px;
			margin-right: 4px;
			margin-bottom: 15px;
		}
		&_card-img {
			
		}
		&_sberbank {
			margin-top: 2px;
			margin-left: 5px;
		}
		&_sberbank-logo {
			width: 100px;
			height: 20px;
		}
		&_sberbank-text {
			width: 100%;
			font-size: 11px;
		}
	}
}