.requisites {
	margin-bottom: 85px;
	.title {
		margin-bottom: 50px;
	}
	&_text {
		max-width: 600px;
		padding: 20px;
		border-radius: 5px;
		background-color: $gray;
		p {
			margin-bottom: 15px;
		}
	}
	@media (max-width: $break_xs) {
		margin-bottom: 40px;
		.title {
			margin-bottom: 30px;
		}
		&_text {
			padding: 10px 15px;
			font-size: 13px;
			p {
				margin-bottom: 10px;
			}
		}
	}
}