.scroll-filter {
	overflow-y: auto;
	max-height: 455px;
	&--h360 {
		max-height: 360px;
	}
	&--generation {
		max-height: 375px;
	}
	.scroll-element.scroll-y {
    width: 17px;
	}
	.scroll-bar {
		background-color: $grayD;
	}
	.scroll-element .scroll-element_track {
		background-color: $gray;
	}
	@media (max-width: $break_sm) {
		&--h360 {
			max-height: none;
		}
		&--generation {
			max-height: none;
		}
		.scroll-element.scroll-y {
	    width: 44px;
		}
		> .scroll-element .scroll-element_outer, > .scroll-element .scroll-element_track, > .scroll-element .scroll-bar {
			border-radius: 15px;
		}
	}
	@media (max-width: $break_xs) {
		.scroll-element.scroll-y {
	    width: 17px;
		}
		> .scroll-element .scroll-element_outer, > .scroll-element .scroll-element_track, > .scroll-element .scroll-bar {
			border-radius: 5px;
		}
	}
}