html {
	&.lock {
		overflow: hidden;
	}
}
a {
	transition: .15s;
	text-decoration: none;
}
button {
	font-family: "Open-Sans";
	outline: none;
	font-size: 16px;
	color: #fff;
	font-weight: 600;
	user-select: none;
	cursor: pointer;
}
input, select {
	font-family: "Open-Sans";
	font-size: 16px;
	outline: none;
}
.row {
	@include row();
}
.wrapper {
	@include wrapper();
}
body {
	background-color: #fff;
	font-family: "Open-Sans";
	font-size: 16px;
	position: relative;
}
.mobile-hide {
	@media (max-width: $break_sm) {
		display: none !important;
	}
	@media (max-width: $break_md) {
		&--md {
			display: none !important;
		}
	}
}
.mobile-visible {
	@media (min-width: $break_sm + 1) {
		display: none !important;
	}
	@media (min-width: $break_md + 1) {
		&--md {
			display: none !important;
		}
	}
}
.img-responsive {
	position: relative;
	overflow: hidden;
	img {
		position: absolute;
		top: 0;
		left: 0;
	}
	&:after {
		content: '';
		display: block;
		padding-top: 56.25%;
	}
}
.clearfix {
	position: relative;
	&:after {
		content: '';
		display: table;
		clear: both;
		width: 100%;
	}
}
.center {
	text-align: center;
}
.title {
	margin-bottom: 30px;
	font-size: 30px;
	font-weight: 700;
	@media (max-width: $break_sm) {
		font-size: 40px;
	}
	@media (max-width: $break_xs) {
		font-size: 30px;
		margin: 10px 0;
	}
}
.subtitle {
	margin-bottom: 20px;
	font-size: 30px;
	font-weight: 400;
	@media (max-width: $break_sm) {
		font-weight: 600;
		margin-bottom: 50px;
	}
	@media (max-width: $break_xs) {
		margin-bottom: 20px;
	}
}
.text {
	p {
		margin-bottom: 20px;
	}
	a {
		padding-bottom: 2px;
		color: $red;
		border-bottom: 1px solid $border;
		&:hover {
			border-color: $red;
		}
	}
}
.slick-slide {
	outline: none;
}
.btn {
	display: inline-block;
	height: 40px;
	padding: 0 10px;
	border: 1px solid transparent;
	border-radius: 5px;
	cursor: pointer;
	user-select: none;
	transition: .15s;
	&--green {
		background-color: $green;
		// &:hover {
		// 	background-color: #fff;
		// 	color: $green;
		// 	border-color: $green;
		// }
	}
	&--red {
		background-color: $red;
		// &:hover {
		// 	background-color: #fff;
		// 	color: $red;
		// 	border-color: $red;
		// }
	}
	&--gray {
		background-color: $gray;
		// &:hover {
		// 	background-color: #fff;
		// 	color: $grayD;
		// 	border-color: $grayD;
		// }
	}
	&--filter {
		margin-bottom: 80px;
	}
	&--clear {
		margin-bottom: 80px;
	}
	@media (max-width: $break_sm) {
		&--filter {
			width: 100%;
			height: 112px;
			font-size: 30px;
			margin-bottom: 45px;
			border-radius: 10px;
		}
		&--clear {
			width: 100%;
			height: 112px;
			background-color: #fff;
			border: 1px solid $border;
			color: $black;
			font-size: 30px;
			margin-bottom: 45px;
			border-radius: 10px;
		}
	}
	@media (max-width: $break_xs) {
		&--filter {
			height: 70px;
			font-size: 20px;
			margin-bottom: 30px;
		}
		&--clear {
			height: 70px;
			font-size: 20px;
			margin-bottom: 30px;
		}
	}
}
.show-more {
	padding-top: 5px;
	margin-top: 85px;
	margin-bottom: 30px;
	font-size: 18px;
	color: $black;
	@media (max-width: $break_sm) {
		height: 77px;
		padding-top: 14px;
		margin-bottom: 80px;
		border-radius: 10px;
		background-color: #fff;
		border-color: $border;
		color: $red;
		font-size: 30px;
		width: 100%;
	}
	@media (max-width: $break_xs) {
		height: 40px;
		padding-top: 5px;
		margin-bottom: 30px;
		border-radius: 5px;
		font-size: 18px;
	}
}
.close {
	width: 30px;
	height: 30px;
	position: absolute;
	top: 5px;
	right: 0px;
	cursor: pointer;
	&:after, &:before {
		content: '';
		display: block;
		width: 100%;
		height: 2px;
		background-color: $black;
		position: absolute;
		top: 13px;
	}
	&:after {
		transform: rotate(45deg);
	}
	&:before {
		transform: rotate(-45deg);
	}
	@media (max-width: $break_sm) {
		top: 10px;
	}
	@media (max-width: $break_xs) {
		top: 18px;
	}
}