.share {
	margin-bottom: 30px;
	span {
		display: inline-block;
		vertical-align: top;
		padding-top: 3px;
	}
	&_item {
		display: inline-block;
		margin-left: 15px;
		margin-bottom: 10px;
		svg {
			width: 30px;
			height: 30px;
		}
		img {
			width: 30px;
			height: 30px;
		}
		&--mail {
			width: 30px;
			height: 30px;
			padding-left: 5px;
			border-radius: 50%;
			background-color: $red;
			svg {
				width: 20px;
			}
		}
	}
	@media (max-width: $break_sm) {
		span {
			display: block;
		}
	}
	@media (max-width: $break_sm) and (min-width: $break_xs + 1) {
		margin-bottom: 50px;
		span {
			display: block;
			font-size: 28px;
			padding-top: 0;
			margin-bottom: 30px;
		}
		&_item {
			margin-bottom: 20px;
			margin-left: 0;
			&:not(:last-child) {
				margin-right: 50px;
			}
			svg {
				width: 63px;
				height: 63px;
			}
			img {
				width: 63px;
				height: 63px;
			}
			&--mail {
				width: 63px;
				height: 63px;
				padding-left: 12px;
				svg {
					width: 40px;
				}
			}
		}
	}
	@media (max-width: $break_xs) {
		&_item {
			margin-right: 0;
			margin-bottom: 20px;
		}
		span {
			margin-bottom: 20px;
		}
	}
}