.social {
	padding-top: 20px;
	&_list {

	}
	&_item {
		display: inline-block;
		&:not(:last-child) {
			margin-right: 33px;
		}
	}
	&_link {
		svg {
			width: 38px;
			height: 38px;
		}
	}
	&_icon {
		&--mobile {
			display: none;
		}
	}
	@media (max-width: $break_sm) {
		&_link {
			svg {
				width: 62px;
				height: 62px;
			}
		}
	}
	@media (max-width: $break_xs) {
		&_link {
			svg {
				width: 38px;
				height: 38px;
			}
		}
	}
}