.sorting {
	padding-right: 30px;
	.title {
		margin-right: 350px;
		vertical-align: middle;
	}
	@media (max-width: $break_md) {
		.title {

		}
	}
}


.sort {
	float: right;
	width: 283px;
	&:after {
		content: '';
		display: table;
		clear: both;
		width: 100%;
	}
	&_item {
		float: left;
		label {
			display: block;
			padding: 9px 20px 11px;
			border: 1px solid $border;
			background-color: #fff;
			transition: .15s;
			cursor: pointer;
			user-select: none;
			&:hover {
				color: $red;
			}
		}
		&--popular {
			label {
				border-radius: 5px 0 0 5px;
			}
		}
		&--price {
			label {
				border-left: none;
				border-radius: 0 5px 5px 0;
			}
		}
		input {
			display: none;
			&:checked {
				+ label {
					color: $red;
					background-color: $gray;
				}
			}
		}
	}
	@media (max-width: $break_md) {
		float: none;
		margin-bottom: 30px;
	}
	@media (max-width: $break_sm) {
		font-size: 11px;
		&_item {
			label {
				padding: 5px 12px;
			}
		}
	}
}