.transport-company {
	&_link {
		width: 94px;
		height: 60px;
		display: inline-block;
		margin: 2px;
		position: relative;
	}
	&_img {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%,-50%);
	}
	@media (max-width: $break_sm) {
		&_link {
			width: 140px;
			height: 70px;
			margin-bottom: 20px;
		}
	}
	@media (max-width: $break_xs) {
		&_link {
			width: 94px;
			height: 60px;
		}
	}
	@media (max-width: $break_sm) and (min-width: $break_xs + 1) {
		&_img {
			transform: translate(-50%,-50%) scale(1.3, 1.3);
		}
	}
}