.transport-company {
	&_link {
		width: 94px;
		height: 60px;
		display: inline-block;
		margin: 2px;
		position: relative;
	}
	&_img {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%,-50%);
	}
	@media (max-width: $break_sm) {
		margin-bottom: 10px;
		&_link {
			width: 65px;
			height: 40px;
			margin-bottom: 10px;
		}
		&_img {
			transform: translate(-50%,-50%) scale(.9);
		}
	}
}