.tutorial {
	padding: 33px 0px 75px 20px;
	font-size: 14px;
	&_item {
		display: inline-block;
		width: 33%;
		padding: 0 40px 0 60px;
		line-height: 1.25;
		position: relative;
		vertical-align: top;
		&:not(:last-child) {
			&:after {
				content: "\e905";
				display: block;
				font-family: 'icomoon';
				font-size: 42px;
				color: $red;
				position: absolute;
				top: 50%;
				right: 5px;
				transform: translate(0,-50%);
			}
		}
	}
	&_img {
		position: absolute;
		top: 10px;
		left: 0px;
		stroke: $red;
	}
	&_text {
		
	}
	@media (max-width: $break_sm) {
		padding: 33px 0px 75px 0px;
		font-size: 28px;
		&_item {
			width: 100%;
			margin-bottom: 45px;
			padding-left: 90px;
			&:not(:last-child):after {
				display: none;
			}
			svg {
				width: 50px;
				height: 50px;
			}
		}
	}
	@media (max-width: $break_xs) {
		font-size: 16px;
		&_item {
			padding: 0 10px 0 67px;
			margin-bottom: 20px;
			svg {
				width: auto;
				height: auto;
			}
		}
	}
}