.tutorial {
	padding: 33px 0px 75px 20px;
	font-size: 14px;
	&_item {
		display: inline-block;
		width: 33%;
		padding: 0 40px 0 60px;
		line-height: 1.25;
		position: relative;
		vertical-align: top;
		&:not(:last-child) {
			&:after {
				content: "\e905";
				display: block;
				font-family: 'icomoon';
				font-size: 42px;
				color: $red;
				position: absolute;
				top: 50%;
				right: 5px;
				transform: translate(0,-50%);
			}
		}
	}
	&_img {
		position: absolute;
		top: 50%;
		left: 0px;
		stroke: $red;
		transform: translate(0,-50%);
	}
	&_text {
		
	}
	@media (max-width: $break_sm) {
		padding: 0;
		margin-bottom: 18px;
		font-size: 14px;
		&_item {
			width: 100%;
			margin-bottom: 22px;
			padding: 0 10px 0 45px;
			&:not(:last-child):after {
				display: none;
			}
		}
		&_img {
			width: 34px;
			height: 34px;
			svg {
				position: absolute;
				left: 50%;
				transform: translate(-50%,0) scale(.85);
			}
		}
	}
}